![alt text](https://i.imgur.com/1WaY7aA.png)

# Lab 2.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.8.0

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [2]:
client = MongoClient('localhost', 27017) # open a cmd prompt with mongod

In [4]:
db = client.test
collection = db.people
collection.drop()            # connect the client by opening another cmd prompt with mongo an leave it open till you work on the lab

Create a new database:

In [8]:
client.test.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

In [9]:
# Drop database "mydatabase" before creating it below: 
client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

In [11]:
#Create a new database
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

- check for the database by name:

In [12]:
SELECT name FROM master.sys.databases

SyntaxError: invalid syntax (<ipython-input-12-0c1177a227a1>, line 1)

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [13]:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [14]:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [15]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [20]:
print(mydb.list_collection_names())

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [26]:
#make it on the dame lines as before
mydict={"name":"Peter", "address":"Lowstreet 27"}
x=mycol.insert_one(mydict)
print(x.inserted_id)

5d2a971550b928f47cf6fd01

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [27]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [28]:
x=mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [31]:
#mistake was ids and not plural id as many is the option
print(x.inserted_ids)

[ObjectId('5d2a973950b928f47cf6fd02'), ObjectId('5d2a973950b928f47cf6fd03'), ObjectId('5d2a973950b928f47cf6fd04'), ObjectId('5d2a973950b928f47cf6fd05'), ObjectId('5d2a973950b928f47cf6fd06'), ObjectId('5d2a973950b928f47cf6fd07'), ObjectId('5d2a973950b928f47cf6fd08'), ObjectId('5d2a973950b928f47cf6fd09'), ObjectId('5d2a973950b928f47cf6fd0a'), ObjectId('5d2a973950b928f47cf6fd0b'), ObjectId('5d2a973950b928f47cf6fd0c'), ObjectId('5d2a973950b928f47cf6fd0d')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [32]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [34]:

#this is an example of using id-14 for a new entry which is like duplicating the key
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { : 14 }

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [35]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [40]:
x=mycol.find_one({"name": "Hannah", "address": "Mountain 21"})
print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd03'), 'name': 'Hannah', 'address': 'Mountain 21'}

In [41]:
# this is not req only name ans add can give the col
x=mycol.find_one({"_id": 4, "name": "Hannah", "address": "Mountain 21"})
print(x)

{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [42]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2a973950b928f47cf6fd03'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [43]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [52]:
for x in mycol.find({},{"_id": 1, "name": 1}):
 print(x)

{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter'}
{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy'}
{'_id': ObjectId('5d2a973950b928f47cf6fd03'), 'name': 'Hannah'}
{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael'}
{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy'}
{'_id': ObjectId('5d2a973950b928f47cf6fd06'), 'name': 'Betty'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0a'), 'name': 'Ben'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0c'), 'name': 'Chuck'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [53]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [54]:
myquery = { "address": { "$gt": "Y" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [58]:
myquery = { "name": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [59]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [60]:
mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2a973950b928f47cf6fd06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2a973950b928f47cf6fd03'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [62]:
help(mycol.find().sort)

Help on method sort in module pymongo.cursor:

sort(key_or_list, direction=None) method of pymongo.cursor.Cursor instance
    Sorts this cursor's results.

    Pass a field name and a direction, either
    :data:`~pymongo.ASCENDING` or :data:`~pymongo.DESCENDING`::

        for doc in collection.find().sort('field', pymongo.ASCENDING):
            print(doc)

    To sort by multiple fields, pass a list of (key, direction) pairs::

        for doc in collection.find().sort([
                ('field1', pymongo.ASCENDING),
                ('field2', pymongo.DESCENDING)]):
            print(doc)

    Beginning with MongoDB version 2.6, text search results can be
    sorted by relevance::

        cursor = db.test.find(
            {'$text': {'$search': 'some words'}},
            {'score': {'$meta': 'textScore'}})

        # Sort by 'score' field.
        cursor.sort([('score', {'$meta': 'textScore'})])

        for doc in cursor:
            print(doc)

    Raises :class:`~pymongo.errors.InvalidOperation` if this cursor has
    already been used. Only the last :meth:`sort` applied to this
    cursor has any effect.

    :Parameters:
      - `key_or_list`: a single key or a list of (key, direction)
        pairs specifying the keys to sort on
      - `direction` (optional): only used if `key_or_list` is a single
        key, if not given :data:`~pymongo.ASCENDING` is assumed

In [63]:
mydoc = mycol.find().sort("name", direction=pymongo.DESCENDING)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2a973950b928f47cf6fd06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [64]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [65]:
mycol.delete_many({ "_id": {"$lt": 15} })
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [66]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2a973950b928f47cf6fd04'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d2a973950b928f47cf6fd05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2a973950b928f47cf6fd07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2a973950b928f47cf6fd08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2a973950b928f47cf6fd09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2a973950b928f47cf6fd0d'), 'name': 'Viola', 'address': 'Sideway 1633'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [67]:
myresult = mycol.find().limit(5)
for x in myresult:
  print(x)

{'_id': ObjectId('5d2a932a50b928f47cf6fcfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2a965d50b928f47cf6fcff'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a968550b928f47cf6fd00'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a971550b928f47cf6fd01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2a973950b928f47cf6fd02'), 'name': 'Amy', 'address': 'Apple st 652'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [68]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [69]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [70]:
os.chdir("dat")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'dat'

In [71]:
pwd()

'C:\\Users\\praty\\Documents\\DSIA\\DSIA-SYD-FT-Projects-201907\\Sarita\\Labs\\LABS 2'

In [72]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people dummyData.json')

1

In [73]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people --file C:/Users/Faisal/DSIA/dsia/data/dummyData.json')

1

In [78]:
os.chdir("..")

In [79]:
pwd()

'C:\\Users\\praty\\Documents\\DSIA\\DSIA-SYD-FT-Projects-201907\\Sarita'

In [83]:
#not working

db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [84]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

KeyError: '_id'

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [85]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Empty DataFrame
Columns: []
Index: []

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [86]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [87]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

ModuleNotFoundError: No module named 'folium'

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

https://www.compose.com/articles/finding-duplicate-documents-in-mongodb/ can help

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

In [90]:
# singl efield index
db.items.createIndex( { “_id" : 1 } )

SyntaxError: invalid character in identifier (<ipython-input-90-d334727bf7b5>, line 1)



> 
>
>

**© 2019 Data Science Institute of Australia**