<a href="https://colab.research.google.com/github/ikfaisal/dsia/blob/master/DSIA_Lab_2_1_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://bit.ly/2Ooh01X)

# Lab 2.1.3: 
# *Database Programming with Python and SQLite*

<a name="demo"></a>
## Using SQLite

### Advantages of SQLite

- does not run on a separate server
- creates portable SQL databases saved in a single file
- databases are stored in a very efficient manner and allow fast querying
- ideal for small databases or databases that need to be copied across machines.
- prototyping applications (e.g. as an embedded database server in a Python program).

### The `sqlite3` Command Line Utility

- useful for basic SQL tasks and databse maintenance
- for creating and dropping databases, it may be safer to use the command line than to roll the code into a Python program

1. Add the sqlite3 installation folder to your PATH environment variable.
2. Open a command window.
3. Navigate to your preferred working directory.
4. Start the sqlite3 command line utility and create a database called "ex1":

`$ sqlite3 ex1`

Output:  

`SQLite version 3.8.5 2014-05-29 12:36:14
Enter ".help" for usage hints.
sqlite>`

*Nb. If you leave out the database name (after `sqlite3`, above) a new, temporary database will be created; it will be destroyed upon exiting sqlite3.*

Enter the following commands at the sqlite prompt (not shown):

`create table tbl1(one varchar(10), two smallint);
insert into tbl1 values('hello!',10);
insert into tbl1 values('goodbye', 20);
select * from tbl1;`

Output:  

`hello!|10
goodbye|20`

Enter `.help` at the sqlite3 command prompt. This lists the available "dot commands". 

Some of the more useful dot commands include:

`  
.backup ?DB? FILE      Backup DB (default "main") to FILE.
.cd DIRECTORY          Change the working directory to DIRECTORY
.clone NEWDB           Clone data into NEWDB from the existing database
.databases             List names and files of attached databases
.dump ?TABLE? ...      Dump the database in an SQL text format.
.excel                 Display the output of next command in a spreadsheet
.exit                  Exit this program
.headers on|off        Turn display of headers on or off
.help                  Show this message
.import FILE TABLE     Import data from FILE into TABLE
.indexes ?TABLE?       Show names of all indexes.
.quit                  Exit this program
.read FILENAME         Execute SQL in FILENAME
.restore ?DB? FILE     Restore content of DB (default "main") from FILE
.save FILE             Write in-memory database into FILE
.tables ?TABLE?        List names of tables.`

### The `sqlite3` package

The easiest way to incorporate an SQL database into a Python application is by using the `sqlite3` package for [`Python 2.7`](https://docs.python.org/2.7/library/sqlite3.html) or [`Python 3.x`](https://docs.python.org/3/library/sqlite3.html).

Open a connection to an SQLite database file.  As before, if the file does not already exist it will automatically be created.

In [4]:
import sqlite3
sqlite_db = 'test_db.sqlite'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

Commands can be executed by passing them as string arguments to the `execute` method of the cursor we just created for this database.

*Nb. If this script has never been run before, the following will raise an (inconsequential) error message:*

In [23]:
c.execute('DROP TABLE houses;')

# Save (commit) the changes:
conn.commit()

In [24]:
c.execute('CREATE TABLE houses (field1 INTEGER PRIMARY KEY, sqft INTEGER, bdrms INTEGER, age INTEGER, price INTEGER);')
conn.commit()

With the database saved the table should now be viewable using SQLite Manager.

#### Adding data

Since we're back in python, we can now use regular programming techniques in conjunction with the sqlite connection.  In particular, the cursor's `execute()` method supports value substitutionusing the `?` character, which makes adding multiple records a bit easier.  See the [docs](https://docs.python.org/2.7/library/sqlite3.html) for more details.

> c.execute(sql_command, values)

In [21]:
# A
last_sale = (None, 4000, 5, 22, 619000)

# Execute Command
c.execute('INSERT INTO houses VALUES (?, ?, ?, ?, ?)')

# Remember to commit the changes
conn.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 5, and there are 0 supplied.

Notice that in this syntax we use the python `None` value, rather than `NULL`, to trigger SQLite to auto-increment the Primary Key. 

There is a related cursor method `executemany()` which takes an array of tuples and loops through them, substituting one tuple at a time.

> c.executemany(sql_command, values)

In [26]:
# A
recent_sales = [
  (None, 2390, 4, 34, 319000),
  (None, 1870, 3, 14, 289000),
  (None, 1505, 3, 90, 269000),
]

# Nb. The "?" parameters are placeholders for data that will map to the table columns during insertion;
# this is a security measure against SQL injection attacks:
# 
c.executemany('INSERT INTO houses values (?,?,?,?,?)', recent_sales)
conn.commit()

Select all rows from houses

In [28]:
# A
for row in c.execute('SELECT * FROM houses ORDER BY price'):
        print (row)

(3, 1505, 3, 90, 269000)
(2, 1870, 3, 14, 289000)
(1, 2390, 4, 34, 319000)




#### Adding data from a csv file
One way to populate the database from a file is to use `numpy.genfromtxt` to read the file into an array (converted to a list for easier handling), and then `INSERT` those records into the database.  The `genfromtxt` function has options including the output data type, handling of missing values, skipping of header and footer rows, columns to read, and more.

In [42]:
from numpy import genfromtxt

# import into nparray of ints, then convert to list of lists:

data = genfromtxt('C:\\Users\\praty\\Documents\\DSIA\\DSIA-SYD-FT-Projects-201907\\Sarita\\Labs\\DATA2\\housing-data.csv', dtype = 'i8', 
                    delimiter = ',', skip_header = 1).tolist()

Suppose we need to put a placeholder in the first column for data that will be available later. Best practice is to insert the value `None`:

In [43]:
data

[[2104, 3, 70, 399900],
 [1600, 3, 28, 329900],
 [2400, 3, 44, 369000],
 [1416, 2, 49, 232000],
 [3000, 4, 75, 539900],
 [1985, 4, 61, 299900],
 [1534, 3, 12, 314900],
 [1427, 3, 57, 198999],
 [1380, 3, 14, 212000],
 [1494, 3, 15, 242500],
 [1940, 4, 7, 239999],
 [2000, 3, 27, 347000],
 [1890, 3, 45, 329999],
 [4478, 5, 49, 699900],
 [1268, 3, 58, 259900],
 [2300, 4, 77, 449900],
 [1320, 2, 62, 299900],
 [1236, 3, 78, 199900],
 [2609, 4, 5, 499998],
 [3031, 4, 21, 599000],
 [1767, 3, 44, 252900],
 [1888, 2, 79, 255000],
 [1604, 3, 13, 242900],
 [1962, 4, 53, 259900],
 [3890, 3, 36, 573900],
 [1100, 3, 60, 249900],
 [1458, 3, 29, 464500],
 [2526, 3, 13, 469000],
 [2200, 3, 28, 475000],
 [2637, 3, 25, 299900],
 [1839, 2, 40, 349900],
 [1000, 1, 5, 169900],
 [2040, 4, 75, 314900],
 [3137, 3, 67, 579900],
 [1811, 4, 24, 285900],
 [1437, 3, 50, 249900],
 [1239, 3, 22, 229900],
 [2132, 4, 28, 345000],
 [4215, 4, 66, 549000],
 [2162, 4, 43, 287000],
 [1664, 2, 40, 368500],
 [2238, 3, 37, 329900],
 [2567, 4, 57, 314000],
 [1200, 3, 76, 299000],
 [852, 2, 70, 179900],
 [1852, 4, 64, 299900],
 [1203, 3, 11, 239500]]

In [44]:
# prepend a None value to beginning of each sub-list:
for d in data:
    d.insert(0, None) #insering none in the index 0, 1st column

In [45]:
data

[[None, 2104, 3, 70, 399900],
 [None, 1600, 3, 28, 329900],
 [None, 2400, 3, 44, 369000],
 [None, 1416, 2, 49, 232000],
 [None, 3000, 4, 75, 539900],
 [None, 1985, 4, 61, 299900],
 [None, 1534, 3, 12, 314900],
 [None, 1427, 3, 57, 198999],
 [None, 1380, 3, 14, 212000],
 [None, 1494, 3, 15, 242500],
 [None, 1940, 4, 7, 239999],
 [None, 2000, 3, 27, 347000],
 [None, 1890, 3, 45, 329999],
 [None, 4478, 5, 49, 699900],
 [None, 1268, 3, 58, 259900],
 [None, 2300, 4, 77, 449900],
 [None, 1320, 2, 62, 299900],
 [None, 1236, 3, 78, 199900],
 [None, 2609, 4, 5, 499998],
 [None, 3031, 4, 21, 599000],
 [None, 1767, 3, 44, 252900],
 [None, 1888, 2, 79, 255000],
 [None, 1604, 3, 13, 242900],
 [None, 1962, 4, 53, 259900],
 [None, 3890, 3, 36, 573900],
 [None, 1100, 3, 60, 249900],
 [None, 1458, 3, 29, 464500],
 [None, 2526, 3, 13, 469000],
 [None, 2200, 3, 28, 475000],
 [None, 2637, 3, 25, 299900],
 [None, 1839, 2, 40, 349900],
 [None, 1000, 1, 5, 169900],
 [None, 2040, 4, 75, 314900],
 [None, 3137, 3, 67, 579900],
 [None, 1811, 4, 24, 285900],
 [None, 1437, 3, 50, 249900],
 [None, 1239, 3, 22, 229900],
 [None, 2132, 4, 28, 345000],
 [None, 4215, 4, 66, 549000],
 [None, 2162, 4, 43, 287000],
 [None, 1664, 2, 40, 368500],
 [None, 2238, 3, 37, 329900],
 [None, 2567, 4, 57, 314000],
 [None, 1200, 3, 76, 299000],
 [None, 852, 2, 70, 179900],
 [None, 1852, 4, 64, 299900],
 [None, 1203, 3, 11, 239500]]

*Nb. This is why we converted the input array to a list. An array can only hold one type of data (integers in this case) so we could not have inserted `None` before we did this conversion.*

In [46]:
# check:
print(type(data))
print(data[0:3])

<class 'list'>
[[None, 2104, 3, 70, 399900], [None, 1600, 3, 28, 329900], [None, 2400, 3, 44, 369000]]

Now we can insert each list item as a row of fields in the database.

In [49]:
# loop through data, running an INSERT on each record (i.e. sublist):
for d in data:
    c.execute('INSERT INTO houses VALUES (?, ?, ?, ?, ?)', d)

conn.commit()

In this case, because we were inserting the same value for all records, so we could have simply used a 'None' in the numpy `insert` method at column 0.

In [50]:
import numpy as np
d1 = np.asarray([1200, 3, 15, 250000])
d1 = d1.tolist()
d1.insert(0, None)
d1
c.execute('INSERT INTO houses VALUES (?, ?, ?, ?, ?)', d1)
conn.commit()

In [51]:
data # you dont see none in the sqlite as it is incrementing none+1 every time

[[None, 2104, 3, 70, 399900],
 [None, 1600, 3, 28, 329900],
 [None, 2400, 3, 44, 369000],
 [None, 1416, 2, 49, 232000],
 [None, 3000, 4, 75, 539900],
 [None, 1985, 4, 61, 299900],
 [None, 1534, 3, 12, 314900],
 [None, 1427, 3, 57, 198999],
 [None, 1380, 3, 14, 212000],
 [None, 1494, 3, 15, 242500],
 [None, 1940, 4, 7, 239999],
 [None, 2000, 3, 27, 347000],
 [None, 1890, 3, 45, 329999],
 [None, 4478, 5, 49, 699900],
 [None, 1268, 3, 58, 259900],
 [None, 2300, 4, 77, 449900],
 [None, 1320, 2, 62, 299900],
 [None, 1236, 3, 78, 199900],
 [None, 2609, 4, 5, 499998],
 [None, 3031, 4, 21, 599000],
 [None, 1767, 3, 44, 252900],
 [None, 1888, 2, 79, 255000],
 [None, 1604, 3, 13, 242900],
 [None, 1962, 4, 53, 259900],
 [None, 3890, 3, 36, 573900],
 [None, 1100, 3, 60, 249900],
 [None, 1458, 3, 29, 464500],
 [None, 2526, 3, 13, 469000],
 [None, 2200, 3, 28, 475000],
 [None, 2637, 3, 25, 299900],
 [None, 1839, 2, 40, 349900],
 [None, 1000, 1, 5, 169900],
 [None, 2040, 4, 75, 314900],
 [None, 3137, 3, 67, 579900],
 [None, 1811, 4, 24, 285900],
 [None, 1437, 3, 50, 249900],
 [None, 1239, 3, 22, 229900],
 [None, 2132, 4, 28, 345000],
 [None, 4215, 4, 66, 549000],
 [None, 2162, 4, 43, 287000],
 [None, 1664, 2, 40, 368500],
 [None, 2238, 3, 37, 329900],
 [None, 2567, 4, 57, 314000],
 [None, 1200, 3, 76, 299000],
 [None, 852, 2, 70, 179900],
 [None, 1852, 4, 64, 299900],
 [None, 1203, 3, 11, 239500]]

#### Deleting Rows

The `DELETE FROM` statement can be used with a `WHERE` clause to specify rows to delete based on some criteria.

In [52]:
c.execute('DELETE FROM houses WHERE field1 IN (52, 53)')
conn.commit()

In [53]:
data

[[None, 2104, 3, 70, 399900],
 [None, 1600, 3, 28, 329900],
 [None, 2400, 3, 44, 369000],
 [None, 1416, 2, 49, 232000],
 [None, 3000, 4, 75, 539900],
 [None, 1985, 4, 61, 299900],
 [None, 1534, 3, 12, 314900],
 [None, 1427, 3, 57, 198999],
 [None, 1380, 3, 14, 212000],
 [None, 1494, 3, 15, 242500],
 [None, 1940, 4, 7, 239999],
 [None, 2000, 3, 27, 347000],
 [None, 1890, 3, 45, 329999],
 [None, 4478, 5, 49, 699900],
 [None, 1268, 3, 58, 259900],
 [None, 2300, 4, 77, 449900],
 [None, 1320, 2, 62, 299900],
 [None, 1236, 3, 78, 199900],
 [None, 2609, 4, 5, 499998],
 [None, 3031, 4, 21, 599000],
 [None, 1767, 3, 44, 252900],
 [None, 1888, 2, 79, 255000],
 [None, 1604, 3, 13, 242900],
 [None, 1962, 4, 53, 259900],
 [None, 3890, 3, 36, 573900],
 [None, 1100, 3, 60, 249900],
 [None, 1458, 3, 29, 464500],
 [None, 2526, 3, 13, 469000],
 [None, 2200, 3, 28, 475000],
 [None, 2637, 3, 25, 299900],
 [None, 1839, 2, 40, 349900],
 [None, 1000, 1, 5, 169900],
 [None, 2040, 4, 75, 314900],
 [None, 3137, 3, 67, 579900],
 [None, 1811, 4, 24, 285900],
 [None, 1437, 3, 50, 249900],
 [None, 1239, 3, 22, 229900],
 [None, 2132, 4, 28, 345000],
 [None, 4215, 4, 66, 549000],
 [None, 2162, 4, 43, 287000],
 [None, 1664, 2, 40, 368500],
 [None, 2238, 3, 37, 329900],
 [None, 2567, 4, 57, 314000],
 [None, 1200, 3, 76, 299000],
 [None, 852, 2, 70, 179900],
 [None, 1852, 4, 64, 299900],
 [None, 1203, 3, 11, 239500]]

QUIZ: What would `DELETE FROM houses` do? it has deleted rows 52 and 53 from field 1

#### Filtering Rows

**1. Select Rows Where Bedrooms = 4**

In [62]:
# ANSWER
c.execute('SELECT * FROM houses WHERE bdrms=4').fetchall() #it needs fetchall() statement

[(1, 2390, 4, 34, 319000),
 (8, 3000, 4, 75, 539900),
 (9, 1985, 4, 61, 299900),
 (14, 1940, 4, 7, 239999),
 (19, 2300, 4, 77, 449900),
 (22, 2609, 4, 5, 499998),
 (23, 3031, 4, 21, 599000),
 (27, 1962, 4, 53, 259900),
 (36, 2040, 4, 75, 314900),
 (38, 1811, 4, 24, 285900),
 (41, 2132, 4, 28, 345000),
 (42, 4215, 4, 66, 549000),
 (43, 2162, 4, 43, 287000),
 (46, 2567, 4, 57, 314000),
 (49, 1852, 4, 64, 299900),
 (56, 3000, 4, 75, 539900),
 (57, 1985, 4, 61, 299900),
 (62, 1940, 4, 7, 239999),
 (67, 2300, 4, 77, 449900),
 (70, 2609, 4, 5, 499998),
 (71, 3031, 4, 21, 599000),
 (75, 1962, 4, 53, 259900),
 (84, 2040, 4, 75, 314900),
 (86, 1811, 4, 24, 285900),
 (89, 2132, 4, 28, 345000),
 (90, 4215, 4, 66, 549000),
 (91, 2162, 4, 43, 287000),
 (94, 2567, 4, 57, 314000),
 (97, 1852, 4, 64, 299900)]

**2. Run a query to calculate the average floor area and price of each size of house (i.e. by number of bedrooms):**

In [63]:
# ANSWER
results = c.execute("SELECT bdrms, AVG(sqft) AS avg_sqft, AVG(price) AS avg_price FROM houses GROUP BY bdrms")
results.fetchall()

[(1, 1000.0, 169900.0),
 (2, 1496.5, 280866.6666666667),
 (3, 1807.8653846153845, 320161.46153846156),
 (4, 2400.0689655172414, 375434.275862069),
 (5, 4478.0, 699900.0)]

### Pandas connector

While databases provide many analytical capabilities, at some point we may need to pull data into Python for more flexible processing. Large, fixed operations would be more efficient in a database, but Pandas allows for interactive processing.

For example, if you want to aggregate nightly log-ins or sales for a report or dashboard, this would be a fixed operation on a large dataset. These computations would run more efficiently in the database system itself.

However, if we wanted to model the patterns of login behaviour or factors driving sales, then we would import the data to Python where we could use its simple interfaces to powerful analytic libraries.

In [64]:
import pandas as pd
from pandas.io import sql

Pandas can connect to most relational databases. In this demonstration, we will create and connect to a SQLite database.

### Writing data into a database

Data in Pandas can be loaded into a relational database. 

If the data table is not too large, we can load all of it into a Pandas DataFrame:

In [65]:
data = pd.read_csv('C:\\Users\\praty\\Documents\\DSIA\\DSIA-SYD-FT-Projects-201907\\Sarita\\Labs\\DATA2\\housing-data.csv', low_memory = False)
data.head()

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900

We can move data in the opposite direction -- from a DataFrame to a database -- using the `to_sql` command, similar to the `to_csv` command.

`to_sql` takes as arguments:
    - `name`, the table name to create
    - `con`, a connection to a database
    - `index`, whether to input the index column
    - `schema`, if we want to write a custom schema for the new table
    - `if_exists`, what to do if the table already exists. We can overwrite it, add to it, or fail

This copies our `data` DataFrame to a sqlite3 table called `houses_pandas`:

In [67]:
data.to_sql('houses_pandas', con = conn, if_exists = 'replace', index = False)

Run a query to get the average price of each house size from this table:

In [69]:
#ANSWER
c.execute("SELECT sqft, AVG(price) AS avg_price FROM houses GROUP BY sqft")
results.fetchall()

[(852, 179900.0),
 (1000, 169900.0),
 (1100, 249900.0),
 (1200, 274500.0),
 (1203, 239500.0),
 (1236, 199900.0),
 (1239, 229900.0),
 (1268, 259900.0),
 (1320, 299900.0),
 (1380, 212000.0),
 (1416, 232000.0),
 (1427, 198999.0),
 (1437, 249900.0),
 (1458, 464500.0),
 (1494, 242500.0),
 (1505, 269000.0),
 (1534, 314900.0),
 (1600, 329900.0),
 (1604, 242900.0),
 (1664, 368500.0),
 (1767, 252900.0),
 (1811, 285900.0),
 (1839, 349900.0),
 (1852, 299900.0),
 (1870, 289000.0),
 (1888, 255000.0),
 (1890, 329999.0),
 (1940, 239999.0),
 (1962, 259900.0),
 (1985, 299900.0),
 (2000, 347000.0),
 (2040, 314900.0),
 (2104, 399900.0),
 (2132, 345000.0),
 (2162, 287000.0),
 (2200, 475000.0),
 (2238, 329900.0),
 (2300, 449900.0),
 (2390, 319000.0),
 (2400, 369000.0),
 (2526, 469000.0),
 (2567, 314000.0),
 (2609, 499998.0),
 (2637, 299900.0),
 (3000, 539900.0),
 (3031, 599000.0),
 (3137, 579900.0),
 (3890, 573900.0),
 (4215, 549000.0),
 (4478, 699900.0)]

## Discussion

**Scenarios for using Pandas with SQLite**

1. When would you want to use Pandas on a dataset before storing it in a database?

2. When would you want to use Pandas on a dataset retrieved from a database?

<a name="guided-practice"></a>


# Reference: SQL Syntax 


#### SELECT Statement
Every query should start with `SELECT`.  `SELECT` is followed by the names of the columns in the output.

`SELECT` is always paired with `FROM`, and `FROM` identifies the table to retrieve data from.

```sql
SELECT
<columns>
FROM
<table>
```

`SELECT *` denotes returns *all* of the columns.

Housing Data example:
```sql
SELECT
sqft, bdrms
FROM houses_pandas;
```

**Check:** Write a query that returns the `sqft`, `bdrms` and `price`.

```sql
SELECT
sqft, bdrms, price
FROM houses_pandas;
```

#### WHERE Clause
`WHERE` is used to filter table to a specific criteria and follows the `FROM` clause.

```sql
SELECT
<columns>
FROM
<table>
WHERE
<condition>
```
Example:
```sql
SELECT
sqft, bdrms, age, price
FROM houses_pandas
WHERE bdrms = 2 and price < 250000;
```

The condition is effectively a row filter; rows that match the condition will be included in the rowset that is returned by the query.

**Check:** Write a query that returns the `sqft`, `bdrms`, `age` for houses older than 60 years.
>```sql
SELECT
sqft, bdrms, age
FROM houses_pandas
WHERE age > 60;
```

### AGGREGATIONS

Aggregations (or aggregate functions) are functions where the values of multiple rows are grouped together as input on certain criteria to form a single value of more significant meaning or measurement such as a set, a bag or a list.

Examples of aggregate funtions:

- Average (i.e., arithmetic mean)
- Count
- Maximum
- Minimum
- Median
- Mode
- Sum

In SQL they are performed in a `SELECT` statement as follows.

```sql
SELECT COUNT(price)
FROM houses_pandas;
```

```sql
SELECT AVG(sqft), MIN(price), MAX(price)
FROM houses_pandas
WHERE bdrms = 2;
```

### Read Order Data
- P12-ListOfOrders
- P12-OrderBreakdown

#### 1. Read CSV into DataFrame

In [22]:
import pandas as pd
import sqlite3
from pandas.io import sql

In [71]:
# Reading CSV to Dataframe
orders = pd.read_csv('C:\\Users\\praty\\Documents\\DSIA\\DSIA-SYD-FT-Projects-201907\\Sarita\\Labs\\DATA2\\P12-ListOfOrders.csv', encoding = 'utf-8')
orders_break_down =  pd.read_csv('C:\\Users\\praty\\Documents\\DSIA\\DSIA-SYD-FT-Projects-201907\\Sarita\\Labs\\DATA2\\P12-OrderBreakdown.csv', encoding = 'utf-8')

In [72]:
orders.head()

          Order ID  Order Date      Customer Name         Country
0  IT-2011-3647632  2011-01-01       Eugene Moren          Sweden
1  ES-2011-4869686  2011-01-03  Dorothy Dickinson  United Kingdom
2  ES-2011-4939443  2011-01-04     Arthur Prichep          France
3  IT-2011-2942451  2011-01-04     Grant Thornton  United Kingdom
4  ES-2011-3848439  2011-01-05   Michael Granlund          France

In [73]:
orders_break_down.head()

,Order ID,Product Name,Discount,Sales,Quantity,Category
0,IT-2011-3647632,"Enermax Note Cards, Premium",0.5,45.0,3,Office Supplies
1,ES-2011-4869686,"Dania Corner Shelving, Traditional",0.0,854.0,7,Furniture
2,ES-2011-4939443,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140.0,3,Office Supplies
3,IT-2011-2942451,"Boston Markers, Easy-Erase",0.5,27.0,2,Office Supplies
4,IT-2011-2942451,"Eldon Folders, Single Width",0.5,17.0,2,Office Supplies

#### 2. Replace Space with Underscore in Column Names

In [74]:
# ANSWER
orders.columns = [o.replace(' ', '_') for o in orders.columns.str.lower()]

In [75]:
# ANSWER
orders_break_down.columns = [o.replace(' ', '_') for o in orders_break_down.columns.str.lower()]

#### 3. Check DataTypes

In [76]:
# ANSWER
orders.dtypes

order_id         object
order_date       object
customer_name    object
country          object
dtype: object

In [77]:
# ANSWER
orders_break_down.dtypes

order_id         object
product_name     object
discount        float64
sales           float64
quantity          int64
category         object
dtype: object

#### 4. Save these two dataframes as a table in sqlite

In [ ]:
##push the dataframe to sql 
#my_data.to_sql("my_data", conn, if_exists="replace")

##create the table

#conn.execute(
    #
    #create table my_table as 
    #select * from my_data
    """)

In [143]:
db_connection=sqlite3.connect("eshop.db.sqlite")

In [85]:
orders.to_sql('ORDR', con=sqlite3.connect("eshop.db.sqlite"), index=False) #be careful create both tables to be able to use
                                                                           for extraction

In [94]:
orders_break_down.to_sql('brkdwn', con=sqlite3.connect("eshop.db.sqlite"), index=False)

#### 5. Select Number of Orders for Each Customer

In [95]:
# Select Number of Orders for Each Customer
sqlite3.connect("eshop.db.sqlite").execute("SELECT * FROM ORDR").fetchall()

[('IT-2011-3647632', '2011-01-01', 'Eugene Moren', 'Sweden'),
 ('ES-2011-4869686', '2011-01-03', 'Dorothy Dickinson', 'United Kingdom'),
 ('ES-2011-4939443', '2011-01-04', 'Arthur Prichep', 'France'),
 ('IT-2011-2942451', '2011-01-04', 'Grant Thornton', 'United Kingdom'),
 ('ES-2011-3848439', '2011-01-05', 'Michael Granlund', 'France'),
 ('ES-2011-5433855', '2011-01-07', 'Dave Poirier', 'France'),
 ('IT-2011-4546695', '2011-01-08', 'Darren Powers', 'France'),
 ('ES-2011-1138719', '2011-01-11', 'Eric Murdock', 'Italy'),
 ('ES-2011-1466305', '2011-01-11', 'Mick Brown', 'Austria'),
 ('ES-2011-4359424', '2011-01-11', 'Dorothy Dickinson', 'Spain'),
 ('ES-2011-5158390', '2011-01-11', 'Roy Collins', 'United Kingdom'),
 ('ES-2011-1460199', '2011-01-12', 'Roy Phan', 'Germany'),
 ('ES-2011-4976144', '2011-01-12', 'Anthony Garverick', 'United Kingdom'),
 ('ES-2011-5040255', '2011-01-12', 'Peter B?hler', 'United Kingdom'),
 ('IT-2011-5340302', '2011-01-13', 'Greg Matthias', 'Netherlands'),
 ('IT-2011-5951216', '2011-01-13', 'Stuart Calhoun', 'Sweden'),
 ('ES-2011-1043483', '2011-01-14', 'Sharelle Roach', 'Austria'),
 ('ES-2011-3661686', '2011-01-15', 'Don Jones', 'Germany'),
 ('IT-2011-1373680', '2011-01-17', 'Shirley Daniels', 'Denmark'),
 ('ES-2011-4174897', '2011-01-18', 'Michael Dominguez', 'Spain'),
 ('ES-2011-4825230', '2011-01-18', 'Richard Bierner', 'Denmark'),
 ('ES-2011-1690587', '2011-01-19', 'Ann Blume', 'Italy'),
 ('ES-2011-3666932', '2011-01-19', 'Matt Abelman', 'Italy'),
 ('ES-2011-1122594', '2011-01-20', 'Darren Koutras', 'France'),
 ('ES-2011-3229667', '2011-01-21', 'Ryan Crowe', 'Germany'),
 ('ES-2011-3906248', '2011-01-22', 'Marc Harrigan', 'Belgium'),
 ('ES-2011-5497239', '2011-01-22', 'Paul Stevenson', 'Italy'),
 ('ES-2011-5158376', '2011-01-24', 'Joni Sundaresam', 'Italy'),
 ('IT-2011-2413417', '2011-01-24', 'Shirley Jackson', 'Italy'),
 ('ES-2011-3746760', '2011-01-25', 'Filia McAdams', 'Germany'),
 ('ES-2011-4880899', '2011-01-25', 'Aimee Bixby', 'France'),
 ('ES-2011-3429709', '2011-01-26', "Patrick O'Brill", 'Spain'),
 ('ES-2011-3940520', '2011-01-26', 'Michael Moore', 'Norway'),
 ('IT-2011-4233239', '2011-01-26', 'Allen Rosenblatt', 'Portugal'),
 ('IT-2011-4728742', '2011-01-28', 'Herbert Flentye', 'France'),
 ('ES-2011-2205486', '2011-02-01', 'Ionia McGrath', 'Germany'),
 ('ES-2011-5460465', '2011-02-01', 'Ralph Ritter', 'Italy'),
 ('ES-2011-1640672', '2011-02-02', 'Ken Heidel', 'Germany'),
 ('ES-2011-2511634', '2011-02-02', 'Ed Braxton', 'Spain'),
 ('ES-2011-2734651', '2011-02-02', 'Lori Olson', 'Spain'),
 ('ES-2011-3188488', '2011-02-02', 'Ken Lonsdale', 'Spain'),
 ('ES-2011-3642330', '2011-02-02', 'Jill Matthias', 'United Kingdom'),
 ('IT-2011-1877466', '2011-02-02', 'Evan Henry', 'France'),
 ('IT-2011-4488946', '2011-02-02', 'Ellis Ballard', 'Germany'),
 ('IT-2011-5645183', '2011-02-03', 'Max Ludwig', 'Sweden'),
 ('ES-2011-3354251', '2011-02-04', 'Dorothy Dickinson', 'France'),
 ('ES-2011-2367994', '2011-02-07', 'Susan MacKendrick', 'France'),
 ('ES-2011-2857462', '2011-02-07', 'George Bell', 'France'),
 ('ES-2011-2608306', '2011-02-08', 'Shaun Weien', 'Italy'),
 ('ES-2011-2722980', '2011-02-09', 'Hallie Redmond', 'Spain'),
 ('ES-2011-4342226', '2011-02-09', 'Clay Ludtke', 'Germany'),
 ('ES-2011-5389664', '2011-02-09', 'Nat Gilpin', 'Netherlands'),
 ('ES-2011-3818297', '2011-02-10', 'Jennifer Patt', 'Switzerland'),
 ('ES-2011-4632225', '2011-02-10', 'Michelle Ellison', 'Spain'),
 ('ES-2011-4744800', '2011-02-10', 'Chad McGuire', 'France'),
 ('IT-2011-1181278', '2011-02-10', 'Paul Lucas', 'Germany'),
 ('ES-2011-2543443', '2011-02-14', 'Helen Andreada', 'Spain'),
 ('IT-2011-1044550', '2011-02-15', 'Gary Zandusky', 'Netherlands'),
 ('IT-2011-3264984', '2011-02-15', 'Tracy Poddar', 'Spain'),
 ('IT-2011-1978668', '2011-02-16', 'Odella Nelson', 'France'),
 ('ES-2011-1720401', '2011-02-18', 'Ken Heidel', 'France'),
 ('ES-2011-5118812', '2011-02-18', 'Alan Barnes', 'France'),
 ('ES-2011-5987802', '2011-02-18', 'Daniel Lacy', 'Germany'),
 ('ES-2011-4052630', '2011-02-21', 'Zuschuss Donatelli', 'Italy'),
 ('IT-2011-3284965', '2011-02-21', 'Sarah Jordon', 'Switzerland'),
 ('ES-2011-3353574', '2011-02-22', 'Paul Gonzalez', 'Italy'),
 ('ES-2011-4187064', '2011-02-22', 'Julia Dunbar', 'France'),
 ('IT-2011-4664416', '2011-02-22', 'Christopher Martinez', 'Ireland'),
 ('IT-2011-2889545', '2011-02-23', 'Giulietta Dortch', 'Italy'),
 ('ES-2011-2377967', '2011-02-24', 'Julie Creighton', 'Belgium'),
 ('IT-2011-3203475', '2011-02-26', 'Bobby Odegard', 'Netherlands'),
 ('ES-2011-1416586', '2011-03-01', 'Ed Ludwig', 'Germany'),
 ('ES-2011-1517387', '2011-03-01', 'Chris McAfee', 'France'),
 ('ES-2011-1705541', '2011-03-01', 'Todd Sumrall', 'United Kingdom'),
 ('ES-2011-2010166', '2011-03-01', 'Lori Olson', 'Germany'),
 ('ES-2011-3227800', '2011-03-01', 'Jeremy Farry', 'Italy'),
 ('ES-2011-3893444', '2011-03-01', 'Tom Boeckenhauer', 'Germany'),
 ('ES-2011-1708225', '2011-03-03', 'David Philippe', 'Italy'),
 ('ES-2011-4410046', '2011-03-07', 'Toby Swindell', 'France'),
 ('ES-2011-2535754', '2011-03-08', 'Luke Weiss', 'Germany'),
 ('ES-2011-3832823', '2011-03-09', 'Janet Lee', 'Spain'),
 ('ES-2011-2711513', '2011-03-10', 'Tonja Turnell', 'Germany'),
 ('ES-2011-3468356', '2011-03-10', 'Anna Gayman', 'United Kingdom'),
 ('ES-2011-4509445', '2011-03-10', 'Bill Tyler', 'United Kingdom'),
 ('ES-2011-1001989', '2011-03-11', 'Maureen Fritzler', 'Germany'),
 ('ES-2011-4993136', '2011-03-11', "Patrick O'Donnell", 'France'),
 ('ES-2011-2933675', '2011-03-12', 'Sheri Gordon', 'Finland'),
 ('ES-2011-3979558', '2011-03-12', 'Heather Kirkland', 'Switzerland'),
 ('ES-2011-3003511', '2011-03-14', 'Candace McMahon', 'Germany'),
 ('ES-2011-3739047', '2011-03-14', 'Kelly Andreada', 'Germany'),
 ('ES-2011-4699764', '2011-03-14', 'Eugene Barchas', 'Germany'),
 ('ES-2011-4753236', '2011-03-14', 'Darren Budd', 'France'),
 ('IT-2011-1765076', '2011-03-15', 'Ricardo Emerson', 'United Kingdom'),
 ('ES-2011-2587200', '2011-03-16', 'Dorris liebe', 'Italy'),
 ('ES-2011-5099069', '2011-03-17', 'Yoseph Carroll', 'Germany'),
 ('ES-2011-1436413', '2011-03-18', 'Edward Nazzal', 'France'),
 ('ES-2011-5522951', '2011-03-18', 'Skye Norling', 'France'),
 ('ES-2011-1637634', '2011-03-21', 'Ed Jacobs', 'Norway'),
 ('ES-2011-3158300', '2011-03-21', 'Darrin Martin', 'Italy'),
 ('ES-2011-3528133', '2011-03-21', 'Aaron Bergman', 'Italy'),
 ('ES-2011-5083176', '2011-03-21', 'Aaron Smayling', 'Switzerland'),
 ('IT-2011-4381191', '2011-03-21', 'Giulietta Dortch', 'Netherlands'),
 ('ES-2011-3948308', '2011-03-22', 'Carol Darley', 'Germany'),
 ('ES-2011-5263174', '2011-03-23', 'Deborah Brumfield', 'Germany'),
 ('ES-2011-5504927', '2011-03-24', 'Tamara Willingham', 'France'),
 ('ES-2011-2140658', '2011-03-25', 'Thomas Brumley', 'United Kingdom'),
 ('ES-2011-3679996', '2011-03-25', 'Hunter Glantz', 'Germany'),
 ('ES-2011-5879155', '2011-03-25', 'Harold Pawlan', 'United Kingdom'),
 ('IT-2011-2306373', '2011-03-25', 'Bruce Degenhardt', 'Netherlands'),
 ('ES-2011-2266801', '2011-03-26', 'Jamie Frazer', 'France'),
 ('IT-2011-5078476', '2011-03-26', 'Thea Hendricks', 'Switzerland'),
 ('ES-2011-4814310', '2011-03-28', 'Scott Cohen', 'Italy'),
 ('IT-2011-4692210', '2011-03-28', 'Erica Hackney', 'Germany'),
 ('ES-2011-5610862', '2011-03-29', 'Justin Hirsh', 'Germany'),
 ('IT-2011-3424830', '2011-03-29', 'Sean Wendt', 'Germany'),
 ('ES-2011-5861038', '2011-03-30', 'Chris Selesnick', 'Germany'),
 ('ES-2011-3721082', '2011-03-31', 'Larry Blacks', 'Switzerland'),
 ('ES-2011-5287434', '2011-03-31', 'Sue Ann Reed', 'United Kingdom'),
 ('IT-2011-5233011', '2011-03-31', 'Todd Sumrall', 'Sweden'),
 ('ES-2011-4237527', '2011-04-01', 'Benjamin Patterson', 'Italy'),
 ('IT-2011-3468929', '2011-04-01', 'Aaron Smayling', 'Italy'),
 ('ES-2011-3072555', '2011-04-04', 'Ed Braxton', 'France'),
 ('ES-2011-4146320', '2011-04-04', 'Aaron Bergman', 'United Kingdom'),
 ('ES-2011-5430994', '2011-04-04', 'Andrew Gjertsen', 'France'),
 ('ES-2011-5185093', '2011-04-05', 'Andrew Gjertsen', 'France'),
 ('ES-2011-1386961', '2011-04-06', 'Magdelene Morse', 'France'),
 ('ES-2011-1444426', '2011-04-06', 'Max Engle', 'Switzerland'),
 ('ES-2011-4472015', '2011-04-07', 'Liz Willingham', 'France'),
 ('ES-2011-5244045', '2011-04-07', 'Filia McAdams', 'Germany'),
 ('IT-2011-1716540', '2011-04-09', 'Cindy Schnelling', 'Portugal'),
 ('ES-2011-3192576', '2011-04-11', 'Berenike Kampe', 'Germany'),
 ('ES-2011-3376060', '2011-04-11', 'Julia West', 'France'),
 ('ES-2011-4864498', '2011-04-12', 'Becky Castell', 'Spain'),
 ('IT-2011-2419493', '2011-04-12', 'Alice McCarthy', 'Sweden'),
 ('ES-2011-2266607', '2011-04-14', 'John Huston', 'United Kingdom'),
 ('ES-2011-5680692', '2011-04-14', 'Scot Wooten', 'Germany'),
 ('ES-2011-1525428', '2011-04-15', 'Alice McCarthy', 'France'),
 ('IT-2011-2779559', '2011-04-16', 'Mary Zewe', 'Netherlands'),
 ('ES-2011-2835499', '2011-04-18', 'Tom Stivers', 'Italy'),
 ('ES-2011-5178055', '2011-04-18', 'Dan Reichenbach', 'Germany'),
 ('IT-2011-5063480', '2011-04-18', 'Candace McMahon', 'France'),
 ('ES-2011-2696233', '2011-04-19', 'Laurel Elliston', 'France'),
 ('ES-2011-5498995', '2011-04-19', 'Ted Butterfield', 'France'),
 ('ES-2011-1520567', '2011-04-20', 'Scott Williamson', 'Germany'),
 ('ES-2011-5707696', '2011-04-20', 'Denise Leinenbach', 'United Kingdom'),
 ('IT-2011-1904026', '2011-04-20', 'Dan Lawera', 'Ireland'),
 ('ES-2011-1443340', '2011-04-21', 'Joy Smith', 'Spain'),
 ('ES-2011-4240706', '2011-04-22', 'Brendan Sweed', 'France'),
 ('IT-2011-2459755', '2011-04-25', 'Raymond Messe', 'Netherlands'),
 ('ES-2011-4016076', '2011-04-26', 'Ted Trevino', 'United Kingdom'),
 ('ES-2011-5090278', '2011-04-26', 'Phillip Breyer', 'Germany'),
 ('IT-2011-2185983', '2011-04-26', 'Roy Collins', 'France'),
 ('IT-2011-2852736', '2011-04-26', 'Linda Southworth', 'Italy'),
 ('ES-2011-2729747', '2011-04-27', 'Matt Collister', 'Spain'),
 ('ES-2011-4852530', '2011-04-27', "Patrick O'Brill", 'France'),
 ('IT-2011-2075149', '2011-04-27', 'Noah Childs', 'Netherlands'),
 ('IT-2011-3896198', '2011-04-27', 'Roy Franz?sisch', 'France'),
 ('ES-2011-2813459', '2011-04-28', 'Andy Reiter', 'France'),
 ('ES-2011-1140474', '2011-04-29', "Russell D'Ascenzo", 'Switzerland'),
 ('ES-2011-2755002', '2011-04-29', 'Speros Goranitis', 'France'),
 ('ES-2011-2776937', '2011-04-29', 'Chad McGuire', 'Italy'),
 ('ES-2011-2994694', '2011-04-29', 'Saphhira Shifley', 'Italy'),
 ('ES-2011-4920475', '2011-04-29', 'Greg Maxwell', 'France'),
 ('ES-2011-5957871', '2011-04-29', 'Carol Triggs', 'Belgium'),
 ('ES-2011-2111237', '2011-05-02', 'Bill Donatelli', 'France'),
 ('ES-2011-4549921', '2011-05-02', 'Jay Fein', 'Germany'),
 ('ES-2011-2132896', '2011-05-03', 'Muhammed MacIntyre', 'Germany'),
 ('ES-2011-2087362', '2011-05-04', 'Marc Harrigan', 'Germany'),
 ('ES-2011-3249098', '2011-05-04', 'Sarah Foster', 'United Kingdom'),
 ('ES-2011-3431770', '2011-05-04', 'Stuart Calhoun', 'Germany'),
 ('ES-2011-5158527', '2011-05-04', 'Evan Minnotte', 'Germany'),
 ('ES-2011-5276461', '2011-05-04', 'Denny Joy', 'Germany'),
 ('ES-2011-5793145', '2011-05-05', 'Steve Chapman', 'Austria'),
 ('IT-2011-2558119', '2011-05-05', 'Tonja Turnell', 'Germany'),
 ('ES-2011-5867278', '2011-05-06', "Rose O'Brian", 'United Kingdom'),
 ('ES-2011-3403155', '2011-05-07', 'Tracy Blumstein', 'Spain'),
 ('IT-2011-3053644', '2011-05-07', 'Dianna Arnett', 'Netherlands'),
 ('IT-2011-2204228', '2011-05-09', 'Peter Fuller', 'Sweden'),
 ('IT-2011-5643162', '2011-05-09', 'Kristen Hastings', 'Portugal'),
 ('ES-2011-3793897', '2011-05-10', 'Clay Cheatham', 'France'),
 ('ES-2011-4021337', '2011-05-10', 'Michelle Moray', 'United Kingdom'),
 ('IT-2011-1460998', '2011-05-10', 'Bart Watters', 'Spain'),
 ('IT-2011-2660642', '2011-05-10', 'Michelle Lonsdale', 'Sweden'),
 ('IT-2011-4599620', '2011-05-11', 'Peter B?hler', 'Netherlands'),
 ('ES-2011-3051209', '2011-05-12', 'Karen Bern', 'Netherlands'),
 ('IT-2011-1939979', '2011-05-12', 'Mike Pelletier', 'France'),
 ('ES-2011-1589842', '2011-05-13', 'Anthony Rawles', 'Italy'),
 ('ES-2011-3814733', '2011-05-13', 'Eugene Hildebrand', 'France'),
 ('ES-2011-3933819', '2011-05-15', 'Kelly Williams', 'France'),
 ('IT-2011-3667641', '2011-05-16', 'William Brown', 'Ireland'),
 ('ES-2011-5953080', '2011-05-17', 'Dana Kaydos', 'Italy'),
 ('ES-2011-2210233', '2011-05-18', 'Dennis Pardue', 'France'),
 ('ES-2011-2942755', '2011-05-18', 'Matt Hagelstein', 'Germany'),
 ('ES-2011-4932761', '2011-05-18', "Sean O'Donnell", 'Austria'),
 ('IT-2011-5001014', '2011-05-18', 'Ed Jacobs', 'Italy'),
 ('ES-2011-3321216', '2011-05-19', 'Pamela Coakley', 'Spain'),
 ('ES-2011-4517621', '2011-05-19', 'Katherine Murray', 'France'),
 ('ES-2011-2333773', '2011-05-21', 'Grant Thornton', 'Italy'),
 ('IT-2011-1521406', '2011-05-21', 'Adam Shillingsburg', 'Netherlands'),
 ('IT-2011-1780558', '2011-05-25', 'Julie Creighton', 'Italy'),
 ('ES-2011-3366039', '2011-05-26', 'Shahid Hopkins', 'France'),
 ('ES-2011-3517120', '2011-05-26', 'Gene Hale', 'United Kingdom'),
 ('ES-2011-5540627', '2011-05-26', 'Cari Schnelling', 'United Kingdom'),
 ('ES-2011-1657853', '2011-05-27', 'David Philippe', 'Germany'),
 ('ES-2011-3846264', '2011-05-27', 'Lisa Hazard', 'Germany'),
 ('IT-2011-3515682', '2011-05-27', 'Matt Collister', 'Sweden'),
 ('ES-2011-2520395', '2011-05-28', 'Joy Bell-', 'United Kingdom'),
 ('IT-2011-5629016', '2011-05-30', 'Toby Carlisle', 'France'),
 ('IT-2011-3076849', '2011-05-31', 'Jocasta Rupert', 'Italy'),
 ('ES-2011-1010958', '2011-06-01', 'Liz Thompson', 'France'),
 ('ES-2011-1441570', '2011-06-01', 'Monica Federle', 'France'),
 ('ES-2011-2801336', '2011-06-01', 'Deborah Brumfield', 'Spain'),
 ('ES-2011-3108517', '2011-06-01', 'Matt Hagelstein', 'Ireland'),
 ('ES-2011-4040727', '2011-06-01', 'Anthony Johnson', 'United Kingdom'),
 ('ES-2011-5940123', '2011-06-01', 'Mike Caudle', 'United Kingdom'),
 ('ES-2011-3525697', '2011-06-02', 'Jack Lebron', 'Italy'),
 ('ES-2011-3684586', '2011-06-02', 'Benjamin Venier', 'United Kingdom'),
 ('IT-2011-4812190', '2011-06-02', 'Todd Sumrall', 'Germany'),
 ('IT-2011-5193547', '2011-06-02', 'Steven Ward', 'Netherlands'),
 ('IT-2011-5495847', '2011-06-03', 'Nicole Hansen', 'France'),
 ('ES-2011-2486841', '2011-06-04', 'Grace Kelly', 'United Kingdom'),
 ('IT-2011-4603506', '2011-06-04', 'Michael Grace', 'Germany'),
 ('ES-2011-2464932', '2011-06-06', 'Bill Stewart', 'France'),
 ('ES-2011-3630624', '2011-06-06', 'Muhammed Lee', 'Austria'),
 ('ES-2011-3876549', '2011-06-06', 'Sarah Brown', 'Germany'),
 ('ES-2011-4767717', '2011-06-06', 'Anna Chung', 'France'),
 ('ES-2011-5444769', '2011-06-06', 'Erica Hernandez', 'United Kingdom'),
 ('ES-2011-5754966', '2011-06-06', 'Dean Braden', 'United Kingdom'),
 ('IT-2011-1152860', '2011-06-06', 'Carl Ludwig', 'Ireland'),
 ('ES-2011-1137137', '2011-06-07', 'Neil Knudson', 'France'),
 ('ES-2011-1455810', '2011-06-07', 'Valerie Takahito', 'France'),
 ('ES-2011-1748043', '2011-06-07', 'Nathan Cano', 'Germany'),
 ('ES-2011-4691256', '2011-06-07', 'Michael Kennedy', 'France'),
 ('ES-2011-4845310', '2011-06-07', 'Eva Jacobs', 'United Kingdom'),
 ('ES-2011-5814037', '2011-06-07', 'Rick Huthwaite', 'United Kingdom'),
 ('IT-2011-2011704', '2011-06-07', 'Emily Ducich', 'Italy'),
 ('IT-2011-2159764', '2011-06-07', 'Jim Sink', 'United Kingdom'),
 ('ES-2011-2399281', '2011-06-08', 'Angele Hood', 'Belgium'),
 ('ES-2011-3540276', '2011-06-08', 'Allen Rosenblatt', 'Germany'),
 ('ES-2011-3953366', '2011-06-08', 'Anna Chung', 'United Kingdom'),
 ('ES-2011-4077297', '2011-06-08', 'Frank Olsen', 'Spain'),
 ('ES-2011-2858219', '2011-06-09', 'Ross DeVincentis', 'Germany'),
 ('ES-2011-3862536', '2011-06-09', 'Harold Dahlen', 'Germany'),
 ('ES-2011-4351826', '2011-06-09', 'Sally Hughsby', 'Germany'),
 ('IT-2011-3466484', '2011-06-09', 'Guy Phonely', 'France'),
 ('IT-2011-5721470', '2011-06-09', 'Russell Applegate', 'France'),
 ('ES-2011-3972371', '2011-06-10', 'Steve Chapman', 'United Kingdom'),
 ('IT-2011-2975588', '2011-06-10', 'Marc Crier', 'France'),
 ('IT-2011-4648014', '2011-06-10', 'Adam Hart', 'Italy'),
 ('ES-2011-1858721', '2011-06-11', 'Sung Chung', 'Austria'),
 ('ES-2011-2542245', '2011-06-11', 'Todd Boyes', 'Italy'),
 ('ES-2011-1276768', '2011-06-13', "Jack O'Briant", 'France'),
 ('ES-2011-1749151', '2011-06-13', 'Lena Cacioppo', 'France'),
 ('ES-2011-5039850', '2011-06-13', 'Harold Engle', 'Belgium'),
 ('ES-2011-5596924', '2011-06-13', 'Sally Matthias', 'Italy'),
 ('ES-2011-1418466', '2011-06-14', 'Scot Wooten', 'Germany'),
 ('ES-2011-3398154', '2011-06-14', 'Eugene Moren', 'United Kingdom'),
 ('ES-2011-4815184', '2011-06-14', 'Randy Bradley', 'United Kingdom'),
 ('ES-2011-1536399', '2011-06-15', 'Theresa Swint', 'Austria'),
 ('ES-2011-3286627', '2011-06-15', 'Natalie Fritzler', 'Sweden'),
 ('IT-2011-2911544', '2011-06-15', 'Scott Williamson', 'France'),
 ('ES-2011-1586186', '2011-06-16', 'Vivek Grady', 'Denmark'),
 ('ES-2011-4240072', '2011-06-16', 'Jill Fjeld', 'Italy'),
 ('ES-2011-4351366', '2011-06-16', 'Rick Huthwaite', 'United Kingdom'),
 ('ES-2011-4741318', '2011-06-16', 'Karl Braun', 'United Kingdom'),
 ('IT-2011-1925845', '2011-06-16', 'Jeremy Ellison', 'United Kingdom'),
 ('ES-2011-1951083', '2011-06-17', 'Maria Etezadi', 'France'),
 ('ES-2011-5952460', '2011-06-17', 'Janet Molinari', 'France'),
 ('IT-2011-4320455', '2011-06-17', 'Aaron Hawkins', 'France'),
 ('IT-2011-4913699', '2011-06-17', 'Lindsay Shagiari', 'United Kingdom'),
 ('IT-2011-5810579', '2011-06-17', 'Jack Garza', 'Sweden'),
 ('ES-2011-1974768', '2011-06-18', 'Jay Fein', 'Austria'),
 ('ES-2011-5273102', '2011-06-18', 'Joy Daniels', 'Spain'),
 ('IT-2011-4752666', '2011-06-18', 'Randy Bradley', 'Spain'),
 ('ES-2011-2931507', '2011-06-20', 'Suzanne McNair', 'Italy'),
 ('ES-2011-4806518', '2011-06-20', 'Brendan Dodson', 'United Kingdom'),
 ('IT-2011-4726397', '2011-06-20', 'Joseph Holt', 'France'),
 ('ES-2011-2621167', '2011-06-21', 'Joseph Airdo', 'United Kingdom'),
 ('ES-2011-1259965', '2011-06-22', 'Joseph Airdo', 'Italy'),
 ('ES-2011-1868803', '2011-06-22', 'Chad Sievert', 'Germany'),
 ('ES-2011-2413369', '2011-06-22', 'Debra Catini', 'Germany'),
 ('ES-2011-3654318', '2011-06-22', 'Allen Rosenblatt', 'Austria'),
 ('ES-2011-4154402', '2011-06-22', 'Cynthia Voltz', 'Germany'),
 ('IT-2011-5781543', '2011-06-22', 'Stewart Carmichael', 'Netherlands'),
 ('ES-2011-1562184', '2011-06-24', 'William Brown', 'France'),
 ('ES-2011-5867473', '2011-06-24', 'Arthur Gainer', 'Spain'),
 ('IT-2011-1887131', '2011-06-24', 'Lisa DeCherney', 'Netherlands'),
 ('IT-2011-2289083', '2011-06-24', 'Tom Stivers', 'Germany'),
 ('IT-2011-3462831', '2011-06-25', 'Sung Pak', 'Sweden'),
 ('ES-2011-1630549', '2011-06-27', 'Jill Matthias', 'France'),
 ('ES-2011-1689666', '2011-06-27', 'Frank Olsen', 'Austria'),
 ('ES-2011-1702031', '2011-06-27', 'Resi P?lking', 'Spain'),
 ('ES-2011-1815211', '2011-06-27', 'Aaron Smayling', 'France'),
 ('ES-2011-2071029', '2011-06-27', 'Steve Carroll', 'Italy'),
 ('ES-2011-5253790', '2011-06-27', 'Ruben Ausman', 'Germany'),
 ('ES-2011-5499567', '2011-06-27', 'Sung Pak', 'France'),
 ('IT-2011-5084706', '2011-06-27', 'Ken Black', 'Italy'),
 ('ES-2011-2736116', '2011-06-28', 'Daniel Raglin', 'Germany'),
 ('ES-2011-2911640', '2011-06-28', 'Shaun Chance', 'Spain'),
 ('ES-2011-3276063', '2011-06-28', 'Lauren Leatherbury', 'United Kingdom'),
 ('ES-2011-3978514', '2011-06-28', 'Julie Prescott', 'Spain'),
 ('ES-2011-5298002', '2011-06-28', 'Cynthia Voltz', 'France'),
 ('IT-2011-4028329', '2011-06-28', 'Jay Fein', 'United Kingdom'),
 ('ES-2011-3080574', '2011-06-29', 'Melanie Seite', 'France'),
 ('IT-2011-5334146', '2011-06-29', 'Keith Herrera', 'United Kingdom'),
 ('ES-2011-5729514', '2011-07-01', 'Justin Hirsh', 'United Kingdom'),
 ('IT-2011-1260172', '2011-07-02', 'Tamara Dahlen', 'Ireland'),
 ('ES-2011-3965225', '2011-07-06', 'Ed Braxton', 'France'),
 ('ES-2011-4821517', '2011-07-06', 'Mark Packer', 'Germany'),

In [125]:
sql_string = '''SELECT 
        ORDR.customer_name, 
        COUNT(DISTINCT ORDR.order_id) AS Count 
    FROM ORDR 
    JOIN brkdwn 
    ON brkdwn.order_id = ORDR.order_id
    GROUP BY ORDR.customer_name 
    ORDER BY Count DESC'''

customers = sql.read_sql(sql_string, con = db_connection)

customers.head()

    customer_name  Count
0      John Grady     13
1  Aaron Smayling     12
2    Joel Jenkins     12
3   Aaron Bergman     11
4  Anthony Rawles     11

In [126]:
#Number of Orders for Each Customer
sqlite3.connect("eshop.db.sqlite").execute("SELECT order_id, customer_name FROM ORDR").fetchall()#so it is from first table ORDR

[('IT-2011-3647632', 'Eugene Moren'),
 ('ES-2011-4869686', 'Dorothy Dickinson'),
 ('ES-2011-4939443', 'Arthur Prichep'),
 ('IT-2011-2942451', 'Grant Thornton'),
 ('ES-2011-3848439', 'Michael Granlund'),
 ('ES-2011-5433855', 'Dave Poirier'),
 ('IT-2011-4546695', 'Darren Powers'),
 ('ES-2011-1138719', 'Eric Murdock'),
 ('ES-2011-1466305', 'Mick Brown'),
 ('ES-2011-4359424', 'Dorothy Dickinson'),
 ('ES-2011-5158390', 'Roy Collins'),
 ('ES-2011-1460199', 'Roy Phan'),
 ('ES-2011-4976144', 'Anthony Garverick'),
 ('ES-2011-5040255', 'Peter B?hler'),
 ('IT-2011-5340302', 'Greg Matthias'),
 ('IT-2011-5951216', 'Stuart Calhoun'),
 ('ES-2011-1043483', 'Sharelle Roach'),
 ('ES-2011-3661686', 'Don Jones'),
 ('IT-2011-1373680', 'Shirley Daniels'),
 ('ES-2011-4174897', 'Michael Dominguez'),
 ('ES-2011-4825230', 'Richard Bierner'),
 ('ES-2011-1690587', 'Ann Blume'),
 ('ES-2011-3666932', 'Matt Abelman'),
 ('ES-2011-1122594', 'Darren Koutras'),
 ('ES-2011-3229667', 'Ryan Crowe'),
 ('ES-2011-3906248', 'Marc Harrigan'),
 ('ES-2011-5497239', 'Paul Stevenson'),
 ('ES-2011-5158376', 'Joni Sundaresam'),
 ('IT-2011-2413417', 'Shirley Jackson'),
 ('ES-2011-3746760', 'Filia McAdams'),
 ('ES-2011-4880899', 'Aimee Bixby'),
 ('ES-2011-3429709', "Patrick O'Brill"),
 ('ES-2011-3940520', 'Michael Moore'),
 ('IT-2011-4233239', 'Allen Rosenblatt'),
 ('IT-2011-4728742', 'Herbert Flentye'),
 ('ES-2011-2205486', 'Ionia McGrath'),
 ('ES-2011-5460465', 'Ralph Ritter'),
 ('ES-2011-1640672', 'Ken Heidel'),
 ('ES-2011-2511634', 'Ed Braxton'),
 ('ES-2011-2734651', 'Lori Olson'),
 ('ES-2011-3188488', 'Ken Lonsdale'),
 ('ES-2011-3642330', 'Jill Matthias'),
 ('IT-2011-1877466', 'Evan Henry'),
 ('IT-2011-4488946', 'Ellis Ballard'),
 ('IT-2011-5645183', 'Max Ludwig'),
 ('ES-2011-3354251', 'Dorothy Dickinson'),
 ('ES-2011-2367994', 'Susan MacKendrick'),
 ('ES-2011-2857462', 'George Bell'),
 ('ES-2011-2608306', 'Shaun Weien'),
 ('ES-2011-2722980', 'Hallie Redmond'),
 ('ES-2011-4342226', 'Clay Ludtke'),
 ('ES-2011-5389664', 'Nat Gilpin'),
 ('ES-2011-3818297', 'Jennifer Patt'),
 ('ES-2011-4632225', 'Michelle Ellison'),
 ('ES-2011-4744800', 'Chad McGuire'),
 ('IT-2011-1181278', 'Paul Lucas'),
 ('ES-2011-2543443', 'Helen Andreada'),
 ('IT-2011-1044550', 'Gary Zandusky'),
 ('IT-2011-3264984', 'Tracy Poddar'),
 ('IT-2011-1978668', 'Odella Nelson'),
 ('ES-2011-1720401', 'Ken Heidel'),
 ('ES-2011-5118812', 'Alan Barnes'),
 ('ES-2011-5987802', 'Daniel Lacy'),
 ('ES-2011-4052630', 'Zuschuss Donatelli'),
 ('IT-2011-3284965', 'Sarah Jordon'),
 ('ES-2011-3353574', 'Paul Gonzalez'),
 ('ES-2011-4187064', 'Julia Dunbar'),
 ('IT-2011-4664416', 'Christopher Martinez'),
 ('IT-2011-2889545', 'Giulietta Dortch'),
 ('ES-2011-2377967', 'Julie Creighton'),
 ('IT-2011-3203475', 'Bobby Odegard'),
 ('ES-2011-1416586', 'Ed Ludwig'),
 ('ES-2011-1517387', 'Chris McAfee'),
 ('ES-2011-1705541', 'Todd Sumrall'),
 ('ES-2011-2010166', 'Lori Olson'),
 ('ES-2011-3227800', 'Jeremy Farry'),
 ('ES-2011-3893444', 'Tom Boeckenhauer'),
 ('ES-2011-1708225', 'David Philippe'),
 ('ES-2011-4410046', 'Toby Swindell'),
 ('ES-2011-2535754', 'Luke Weiss'),
 ('ES-2011-3832823', 'Janet Lee'),
 ('ES-2011-2711513', 'Tonja Turnell'),
 ('ES-2011-3468356', 'Anna Gayman'),
 ('ES-2011-4509445', 'Bill Tyler'),
 ('ES-2011-1001989', 'Maureen Fritzler'),
 ('ES-2011-4993136', "Patrick O'Donnell"),
 ('ES-2011-2933675', 'Sheri Gordon'),
 ('ES-2011-3979558', 'Heather Kirkland'),
 ('ES-2011-3003511', 'Candace McMahon'),
 ('ES-2011-3739047', 'Kelly Andreada'),
 ('ES-2011-4699764', 'Eugene Barchas'),
 ('ES-2011-4753236', 'Darren Budd'),
 ('IT-2011-1765076', 'Ricardo Emerson'),
 ('ES-2011-2587200', 'Dorris liebe'),
 ('ES-2011-5099069', 'Yoseph Carroll'),
 ('ES-2011-1436413', 'Edward Nazzal'),
 ('ES-2011-5522951', 'Skye Norling'),
 ('ES-2011-1637634', 'Ed Jacobs'),
 ('ES-2011-3158300', 'Darrin Martin'),
 ('ES-2011-3528133', 'Aaron Bergman'),
 ('ES-2011-5083176', 'Aaron Smayling'),
 ('IT-2011-4381191', 'Giulietta Dortch'),
 ('ES-2011-3948308', 'Carol Darley'),
 ('ES-2011-5263174', 'Deborah Brumfield'),
 ('ES-2011-5504927', 'Tamara Willingham'),
 ('ES-2011-2140658', 'Thomas Brumley'),
 ('ES-2011-3679996', 'Hunter Glantz'),
 ('ES-2011-5879155', 'Harold Pawlan'),
 ('IT-2011-2306373', 'Bruce Degenhardt'),
 ('ES-2011-2266801', 'Jamie Frazer'),
 ('IT-2011-5078476', 'Thea Hendricks'),
 ('ES-2011-4814310', 'Scott Cohen'),
 ('IT-2011-4692210', 'Erica Hackney'),
 ('ES-2011-5610862', 'Justin Hirsh'),
 ('IT-2011-3424830', 'Sean Wendt'),
 ('ES-2011-5861038', 'Chris Selesnick'),
 ('ES-2011-3721082', 'Larry Blacks'),
 ('ES-2011-5287434', 'Sue Ann Reed'),
 ('IT-2011-5233011', 'Todd Sumrall'),
 ('ES-2011-4237527', 'Benjamin Patterson'),
 ('IT-2011-3468929', 'Aaron Smayling'),
 ('ES-2011-3072555', 'Ed Braxton'),
 ('ES-2011-4146320', 'Aaron Bergman'),
 ('ES-2011-5430994', 'Andrew Gjertsen'),
 ('ES-2011-5185093', 'Andrew Gjertsen'),
 ('ES-2011-1386961', 'Magdelene Morse'),
 ('ES-2011-1444426', 'Max Engle'),
 ('ES-2011-4472015', 'Liz Willingham'),
 ('ES-2011-5244045', 'Filia McAdams'),
 ('IT-2011-1716540', 'Cindy Schnelling'),
 ('ES-2011-3192576', 'Berenike Kampe'),
 ('ES-2011-3376060', 'Julia West'),
 ('ES-2011-4864498', 'Becky Castell'),
 ('IT-2011-2419493', 'Alice McCarthy'),
 ('ES-2011-2266607', 'John Huston'),
 ('ES-2011-5680692', 'Scot Wooten'),
 ('ES-2011-1525428', 'Alice McCarthy'),
 ('IT-2011-2779559', 'Mary Zewe'),
 ('ES-2011-2835499', 'Tom Stivers'),
 ('ES-2011-5178055', 'Dan Reichenbach'),
 ('IT-2011-5063480', 'Candace McMahon'),
 ('ES-2011-2696233', 'Laurel Elliston'),
 ('ES-2011-5498995', 'Ted Butterfield'),
 ('ES-2011-1520567', 'Scott Williamson'),
 ('ES-2011-5707696', 'Denise Leinenbach'),
 ('IT-2011-1904026', 'Dan Lawera'),
 ('ES-2011-1443340', 'Joy Smith'),
 ('ES-2011-4240706', 'Brendan Sweed'),
 ('IT-2011-2459755', 'Raymond Messe'),
 ('ES-2011-4016076', 'Ted Trevino'),
 ('ES-2011-5090278', 'Phillip Breyer'),
 ('IT-2011-2185983', 'Roy Collins'),
 ('IT-2011-2852736', 'Linda Southworth'),
 ('ES-2011-2729747', 'Matt Collister'),
 ('ES-2011-4852530', "Patrick O'Brill"),
 ('IT-2011-2075149', 'Noah Childs'),
 ('IT-2011-3896198', 'Roy Franz?sisch'),
 ('ES-2011-2813459', 'Andy Reiter'),
 ('ES-2011-1140474', "Russell D'Ascenzo"),
 ('ES-2011-2755002', 'Speros Goranitis'),
 ('ES-2011-2776937', 'Chad McGuire'),
 ('ES-2011-2994694', 'Saphhira Shifley'),
 ('ES-2011-4920475', 'Greg Maxwell'),
 ('ES-2011-5957871', 'Carol Triggs'),
 ('ES-2011-2111237', 'Bill Donatelli'),
 ('ES-2011-4549921', 'Jay Fein'),
 ('ES-2011-2132896', 'Muhammed MacIntyre'),
 ('ES-2011-2087362', 'Marc Harrigan'),
 ('ES-2011-3249098', 'Sarah Foster'),
 ('ES-2011-3431770', 'Stuart Calhoun'),
 ('ES-2011-5158527', 'Evan Minnotte'),
 ('ES-2011-5276461', 'Denny Joy'),
 ('ES-2011-5793145', 'Steve Chapman'),
 ('IT-2011-2558119', 'Tonja Turnell'),
 ('ES-2011-5867278', "Rose O'Brian"),
 ('ES-2011-3403155', 'Tracy Blumstein'),
 ('IT-2011-3053644', 'Dianna Arnett'),
 ('IT-2011-2204228', 'Peter Fuller'),
 ('IT-2011-5643162', 'Kristen Hastings'),
 ('ES-2011-3793897', 'Clay Cheatham'),
 ('ES-2011-4021337', 'Michelle Moray'),
 ('IT-2011-1460998', 'Bart Watters'),
 ('IT-2011-2660642', 'Michelle Lonsdale'),
 ('IT-2011-4599620', 'Peter B?hler'),
 ('ES-2011-3051209', 'Karen Bern'),
 ('IT-2011-1939979', 'Mike Pelletier'),
 ('ES-2011-1589842', 'Anthony Rawles'),
 ('ES-2011-3814733', 'Eugene Hildebrand'),
 ('ES-2011-3933819', 'Kelly Williams'),
 ('IT-2011-3667641', 'William Brown'),
 ('ES-2011-5953080', 'Dana Kaydos'),
 ('ES-2011-2210233', 'Dennis Pardue'),
 ('ES-2011-2942755', 'Matt Hagelstein'),
 ('ES-2011-4932761', "Sean O'Donnell"),
 ('IT-2011-5001014', 'Ed Jacobs'),
 ('ES-2011-3321216', 'Pamela Coakley'),
 ('ES-2011-4517621', 'Katherine Murray'),
 ('ES-2011-2333773', 'Grant Thornton'),
 ('IT-2011-1521406', 'Adam Shillingsburg'),
 ('IT-2011-1780558', 'Julie Creighton'),
 ('ES-2011-3366039', 'Shahid Hopkins'),
 ('ES-2011-3517120', 'Gene Hale'),
 ('ES-2011-5540627', 'Cari Schnelling'),
 ('ES-2011-1657853', 'David Philippe'),
 ('ES-2011-3846264', 'Lisa Hazard'),
 ('IT-2011-3515682', 'Matt Collister'),
 ('ES-2011-2520395', 'Joy Bell-'),
 ('IT-2011-5629016', 'Toby Carlisle'),
 ('IT-2011-3076849', 'Jocasta Rupert'),
 ('ES-2011-1010958', 'Liz Thompson'),
 ('ES-2011-1441570', 'Monica Federle'),
 ('ES-2011-2801336', 'Deborah Brumfield'),
 ('ES-2011-3108517', 'Matt Hagelstein'),
 ('ES-2011-4040727', 'Anthony Johnson'),
 ('ES-2011-5940123', 'Mike Caudle'),
 ('ES-2011-3525697', 'Jack Lebron'),
 ('ES-2011-3684586', 'Benjamin Venier'),
 ('IT-2011-4812190', 'Todd Sumrall'),
 ('IT-2011-5193547', 'Steven Ward'),
 ('IT-2011-5495847', 'Nicole Hansen'),
 ('ES-2011-2486841', 'Grace Kelly'),
 ('IT-2011-4603506', 'Michael Grace'),
 ('ES-2011-2464932', 'Bill Stewart'),
 ('ES-2011-3630624', 'Muhammed Lee'),
 ('ES-2011-3876549', 'Sarah Brown'),
 ('ES-2011-4767717', 'Anna Chung'),
 ('ES-2011-5444769', 'Erica Hernandez'),
 ('ES-2011-5754966', 'Dean Braden'),
 ('IT-2011-1152860', 'Carl Ludwig'),
 ('ES-2011-1137137', 'Neil Knudson'),
 ('ES-2011-1455810', 'Valerie Takahito'),
 ('ES-2011-1748043', 'Nathan Cano'),
 ('ES-2011-4691256', 'Michael Kennedy'),
 ('ES-2011-4845310', 'Eva Jacobs'),
 ('ES-2011-5814037', 'Rick Huthwaite'),
 ('IT-2011-2011704', 'Emily Ducich'),
 ('IT-2011-2159764', 'Jim Sink'),
 ('ES-2011-2399281', 'Angele Hood'),
 ('ES-2011-3540276', 'Allen Rosenblatt'),
 ('ES-2011-3953366', 'Anna Chung'),
 ('ES-2011-4077297', 'Frank Olsen'),
 ('ES-2011-2858219', 'Ross DeVincentis'),
 ('ES-2011-3862536', 'Harold Dahlen'),
 ('ES-2011-4351826', 'Sally Hughsby'),
 ('IT-2011-3466484', 'Guy Phonely'),
 ('IT-2011-5721470', 'Russell Applegate'),
 ('ES-2011-3972371', 'Steve Chapman'),
 ('IT-2011-2975588', 'Marc Crier'),
 ('IT-2011-4648014', 'Adam Hart'),
 ('ES-2011-1858721', 'Sung Chung'),
 ('ES-2011-2542245', 'Todd Boyes'),
 ('ES-2011-1276768', "Jack O'Briant"),
 ('ES-2011-1749151', 'Lena Cacioppo'),
 ('ES-2011-5039850', 'Harold Engle'),
 ('ES-2011-5596924', 'Sally Matthias'),
 ('ES-2011-1418466', 'Scot Wooten'),
 ('ES-2011-3398154', 'Eugene Moren'),
 ('ES-2011-4815184', 'Randy Bradley'),
 ('ES-2011-1536399', 'Theresa Swint'),
 ('ES-2011-3286627', 'Natalie Fritzler'),
 ('IT-2011-2911544', 'Scott Williamson'),
 ('ES-2011-1586186', 'Vivek Grady'),
 ('ES-2011-4240072', 'Jill Fjeld'),
 ('ES-2011-4351366', 'Rick Huthwaite'),
 ('ES-2011-4741318', 'Karl Braun'),
 ('IT-2011-1925845', 'Jeremy Ellison'),
 ('ES-2011-1951083', 'Maria Etezadi'),
 ('ES-2011-5952460', 'Janet Molinari'),
 ('IT-2011-4320455', 'Aaron Hawkins'),
 ('IT-2011-4913699', 'Lindsay Shagiari'),
 ('IT-2011-5810579', 'Jack Garza'),
 ('ES-2011-1974768', 'Jay Fein'),
 ('ES-2011-5273102', 'Joy Daniels'),
 ('IT-2011-4752666', 'Randy Bradley'),
 ('ES-2011-2931507', 'Suzanne McNair'),
 ('ES-2011-4806518', 'Brendan Dodson'),
 ('IT-2011-4726397', 'Joseph Holt'),
 ('ES-2011-2621167', 'Joseph Airdo'),
 ('ES-2011-1259965', 'Joseph Airdo'),
 ('ES-2011-1868803', 'Chad Sievert'),
 ('ES-2011-2413369', 'Debra Catini'),
 ('ES-2011-3654318', 'Allen Rosenblatt'),
 ('ES-2011-4154402', 'Cynthia Voltz'),
 ('IT-2011-5781543', 'Stewart Carmichael'),
 ('ES-2011-1562184', 'William Brown'),
 ('ES-2011-5867473', 'Arthur Gainer'),
 ('IT-2011-1887131', 'Lisa DeCherney'),
 ('IT-2011-2289083', 'Tom Stivers'),
 ('IT-2011-3462831', 'Sung Pak'),
 ('ES-2011-1630549', 'Jill Matthias'),
 ('ES-2011-1689666', 'Frank Olsen'),
 ('ES-2011-1702031', 'Resi P?lking'),
 ('ES-2011-1815211', 'Aaron Smayling'),
 ('ES-2011-2071029', 'Steve Carroll'),
 ('ES-2011-5253790', 'Ruben Ausman'),
 ('ES-2011-5499567', 'Sung Pak'),
 ('IT-2011-5084706', 'Ken Black'),
 ('ES-2011-2736116', 'Daniel Raglin'),
 ('ES-2011-2911640', 'Shaun Chance'),
 ('ES-2011-3276063', 'Lauren Leatherbury'),
 ('ES-2011-3978514', 'Julie Prescott'),
 ('ES-2011-5298002', 'Cynthia Voltz'),
 ('IT-2011-4028329', 'Jay Fein'),
 ('ES-2011-3080574', 'Melanie Seite'),
 ('IT-2011-5334146', 'Keith Herrera'),
 ('ES-2011-5729514', 'Justin Hirsh'),
 ('IT-2011-1260172', 'Tamara Dahlen'),
 ('ES-2011-3965225', 'Ed Braxton'),
 ('ES-2011-4821517', 'Mark Packer'),
 ('ES-2011-5743387', 'Claire Gute'),
 ('ES-2011-3814488', 'Hilary Holden'),
 ('ES-2011-3616229', 'Jason Gross'),
 ('ES-2011-4514717', 'Ricardo Sperren'),
 ('ES-2011-1322522', 'Joy Daniels'),
 ('ES-2011-5693995', 'Michelle Moray'),
 ('ES-2011-3975285', 'Dario Medina'),
 ('ES-2011-1084683', 'Frank Olsen'),
 ('ES-2011-2625537', 'Lori Olson'),
 ('ES-2011-4384804', 'Christy Brittain'),
 ('IT-2011-4004093', 'Sean Wendt'),
 ('ES-2011-1849602', 'Delfina Latchford'),
 ('ES-2011-1210983', 'Pauline Webber'),
 ('IT-2011-1646767', 'Melanie Seite'),
 ('ES-2011-5605335', 'Pamela Stobb'),
 ('ES-2011-1647855', 'Doug Bickford'),
 ('ES-2011-4314290', 'Steven Roelle'),
 ('ES-2011-2410472', 'Tiffany House'),
 ('IT-2011-2226067', 'Alex Grayson'),
 ('IT-2011-5521557', 'Dan Lawera'),
 ('ES-2011-1656997', 'Nick Zandusky'),
 ('IT-2011-4977940', 'Kean Thornton'),
 ('ES-2011-5239101', 'Maureen Gnade'),
 ('ES-2011-1916591', 'Dan Reichenbach'),
 ('ES-2011-3074997', 'Anna H?berlin'),
 ('ES-2011-4024349', 'Bryan Davis'),
 ('IT-2011-3202706', 'Eudokia Martin'),
 ('IT-2011-5718509', 'Gene Hale'),
 ('ES-2011-3954575', 'Mathew Reese'),
 ('IT-2011-4685233', 'Speros Goranitis'),
 ('ES-2011-2041772', 'Corey Catlett'),
 ('ES-2011-3864297', 'Clytie Kelty'),
 ('IT-2011-1626202', 'Aaron Hawkins'),
 ('ES-2011-4261696', 'Muhammed MacIntyre'),
 ('ES-2011-4805316', 'Emily Phan'),
 ('ES-2011-2264751', 'Carol Triggs'),
 ('ES-2011-5532122', 'Ross DeVincentis'),
 ('ES-2011-4188705', 'Nancy Lomonaco'),
 ('ES-2011-1679370', 'Ruben Ausman'),
 ('ES-2011-2230157', 'Jason Gross'),
 ('ES-2011-2954601', 'George Ashbrook'),
 ('ES-2011-5585896', 'Khloe Miller'),
 ('IT-2011-3760449', 'Denise Leinenbach'),
 ('ES-2011-2469850', 'Michelle Lonsdale'),
 ('ES-2011-5335946', 'Ryan Crowe'),
 ('ES-2011-5421072', 'Barry Weirich'),
 ('ES-2011-3159486', 'Joy Daniels'),
 ('ES-2011-4256146', 'Toby Gnade'),
 ('ES-2011-5699335', 'Barry Weirich'),
 ('IT-2011-3708838', 'Bobby Odegard'),
 ('ES-2011-5666533', 'Karl Braun'),
 ('ES-2011-4405425', 'Allen Rosenblatt'),
 ('ES-2011-1591803', 'Jason Fortune-'),
 ('ES-2011-4154564', 'Victor Preis'),
 ('ES-2011-1417751', 'Keith Herrera'),
 ('ES-2011-1480594', 'Mitch Willingham'),
 ('ES-2011-2585328', 'Khloe Miller'),
 ('ES-2011-2695590', 'Karen Seio'),
 ('ES-2011-2720769', 'Christine Kargatis'),
 ('ES-2011-3670390', 'Art Foster'),
 ('ES-2011-5389104', 'Ralph Ritter'),
 ('ES-2011-5775498', 'Jesus Ocampo'),
 ('ES-2011-5803751', 'Corey Roper'),
 ('ES-2011-1761215', 'Alan Haines'),
 ('ES-2011-2257437', 'Becky Pak'),
 ('ES-2011-2969148', 'Janet Martin'),
 ('ES-2011-5539778', 'Denny Ordway'),
 ('ES-2011-5579266', 'Paul Knutson'),
 ('ES-2011-5644297', 'Guy Thornton'),
 ('ES-2011-1886093', 'Maya Herman'),
 ('ES-2011-2087720', 'Christy Brittain'),
 ('ES-2011-4606457', 'Ross DeVincentis'),
 ('ES-2011-5827080', 'Jeremy Pistek'),
 ('IT-2011-4318512', 'Shirley Daniels'),
 ('ES-2011-1579115', 'Matt Collins'),
 ('ES-2011-2302372', 'Jill Fjeld'),
 ('ES-2011-2324896', 'Frank Carlisle'),
 ('ES-2011-2571502', 'Paul Gonzalez'),
 ('ES-2011-4942506', 'Evan Henry'),
 ('ES-2011-5630309', 'Paul Stevenson'),
 ('ES-2011-1712442', 'Alice McCarthy'),
 ('ES-2011-1881074', 'Muhammed Lee'),
 ('ES-2011-3215372', 'Alyssa Crouse'),
 ('ES-2011-4292823', 'Doug Bickford'),
 ('ES-2011-4421897', 'Michael Oakman'),
 ('IT-2011-1298611', 'Delfina Latchford'),
 ('ES-2011-1930667', 'Gary Hansen'),
 ('ES-2011-2720307', 'Stuart Calhoun'),
 ('ES-2011-3737786', 'Paul Prost'),
 ('IT-2011-1088680', 'Jeremy Lonsdale'),
 ('IT-2011-2753313', 'Nick Radford'),
 ('ES-2011-2246685', 'Rick Reed'),
 ('ES-2011-2566881', 'Frank Olsen'),
 ('ES-2011-5340910', 'Pamela Stobb'),
 ('IT-2011-5361439', 'Tamara Manning'),
 ('ES-2011-3937871', 'Logan Currie'),
 ('ES-2011-1950038', 'Chris Cortes'),
 ('ES-2011-2225020', 'Fred Chung'),
 ('ES-2011-4372047', 'Kristina Nunn'),
 ('IT-2011-5808077', 'Alan Hwang'),
 ('ES-2011-1088527', 'Bryan Mills'),
 ('ES-2011-4351964', 'Clay Cheatham'),
 ('IT-2011-1471798', 'Caroline Jumper'),
 ('IT-2011-2506333', 'Denise Monton'),
 ('ES-2011-1494790', 'Lela Donovan'),
 ('ES-2011-2337809', 'Tim Brockman'),
 ('ES-2011-2972550', 'Pauline Chand'),
 ('ES-2011-4942190', 'Paul MacIntyre'),
 ('ES-2011-5483343', 'Thomas Seio'),
 ('IT-2011-1549226', 'Denise Leinenbach'),
 ('ES-2011-3711955', 'Sanjit Engle'),
 ('ES-2011-4156324', 'Shahid Collister'),
 ('ES-2011-4801998', 'Sanjit Engle'),
 ('ES-2011-4894552', 'Eleni McCrary'),
 ('ES-2011-5235241', 'Thomas Boland'),
 ('ES-2011-3081212', 'Victoria Wilson'),
 ('ES-2011-3945713', "Doug O'Connell"),
 ('ES-2011-4776761', 'Lela Donovan'),
 ('ES-2011-5227949', 'Tamara Manning'),
 ('IT-2011-3941469', 'Lisa Hazard'),
 ('IT-2011-5115918', 'Ken Heidel'),
 ('ES-2011-3734581', "Anthony O'Donnell"),
 ('ES-2011-4184901', 'Aaron Bergman'),
 ('IT-2011-1097469', 'Art Foster'),
 ('IT-2011-4045107', 'Michael Grace'),
 ('ES-2011-1401137', "Doug O'Connell"),
 ('ES-2011-1539879', 'Carol Darley'),
 ('ES-2011-2123345', 'Daniel Byrd'),
 ('IT-2011-4081442', 'Fred Hopkins'),
 ('IT-2011-4626649', 'Parhena Norris'),
 ('ES-2011-2681822', 'Cari MacIntyre'),
 ('ES-2011-2886437', 'Trudy Schmidt'),
 ('ES-2011-3577688', 'Jennifer Jackson'),
 ('ES-2011-1818378', 'Ben Ferrer'),
 ('IT-2011-2668777', 'Eric Murdock'),
 ('ES-2011-4557691', 'Karl Braun'),
 ('ES-2011-1875818', 'Brian Moss'),
 ('ES-2011-2382517', 'Mathew Reese'),
 ('ES-2011-5729876', "Sean O'Donnell"),
 ('IT-2011-2800134', 'Anna Gayman'),
 ('ES-2011-2627929', 'Grant Thornton'),
 ('ES-2011-2187197', 'David Philippe'),
 ('ES-2011-2619050', 'Jonathan Howell'),
 ('ES-2011-3248922', 'Elpida Rittenbach'),
 ('ES-2011-3448503', 'Bryan Davis'),
 ('ES-2011-2613634', 'Muhammed Yedwab'),
 ('ES-2011-5496709', 'Cynthia Delaney'),
 ('ES-2011-2069466', 'Doug Bickford'),
 ('ES-2011-1458159', 'Rick Wilson'),
 ('IT-2011-3157915', 'Rob Williams'),
 ('IT-2011-3267917', 'Thomas Seio'),
 ('ES-2011-2979959', 'Shirley Jackson'),
 ('ES-2011-5265774', 'Art Foster'),
 ('ES-2011-2130034', 'Denise Monton'),
 ('ES-2011-2660418', 'Ted Trevino'),
 ('ES-2011-3284889', 'Lindsay Williams'),
 ('ES-2011-4145029', 'Corey-Lock'),
 ('ES-2011-4508489', 'Becky Pak'),
 ('ES-2011-5177366', 'Kristen Hastings'),
 ('IT-2011-5663038', 'Bradley Drucker'),
 ('ES-2011-1770042', 'Cathy Hwang'),
 ('ES-2011-3848020', 'Doug Jacobs'),
 ('ES-2011-4587082', 'Juliana Krohn'),
 ('IT-2011-1165265', 'Toby Gnade'),
 ('IT-2011-1327965', 'Duane Benoit'),
 ('IT-2011-3586982', "Jack O'Briant"),
 ('ES-2011-2592061', 'Fred Harton'),
 ('ES-2011-2846240', 'Joni Blumstein'),
 ('ES-2011-4507133', 'Andrew Roberts'),
 ('ES-2011-5380791', 'John Castell'),
 ('ES-2011-3202814', 'Odella Nelson'),
 ('ES-2011-3285117', 'Katrina Willman'),
 ('ES-2011-5608714', 'Craig Carroll'),
 ('ES-2011-1647523', 'Thomas Thornton'),
 ('ES-2011-1653919', 'Ed Braxton'),
 ('ES-2011-4314394', 'William Brown'),
 ('ES-2011-5649807', 'Roy Phan'),
 ('ES-2011-5957496', 'Sally Matthias'),
 ('IT-2011-4311428', 'Dean percer'),
 ('ES-2011-1419565', 'Karen Daniels'),
 ('ES-2011-1426891', 'Dave Brooks'),
 ('ES-2011-1941919', 'Nick Crebassa'),
 ('ES-2011-2021080', 'Chloris Kastensmidt'),
 ('ES-2011-3714548', 'Marina Lichtenstein'),
 ('ES-2011-5083754', 'Peter B?hler'),
 ('ES-2011-5315807', 'Sonia Cooley'),
 ('ES-2011-2945927', 'Pamela Coakley'),
 ('IT-2011-4771701', 'Tamara Willingham'),
 ('ES-2011-3369614', 'Hunter Glantz'),
 ('ES-2011-4709704', 'Sonia Sunley'),
 ('ES-2011-5796288', 'Hunter Lopez'),
 ('ES-2011-5858551', 'Hilary Holden'),
 ('ES-2011-5912381', 'Bill Eplett'),
 ('ES-2011-3667388', 'Becky Martin'),
 ('ES-2011-5356008', 'Gene Hale'),
 ('ES-2011-5441485', 'Alejandro Ballentine'),
 ('IT-2011-3183678', 'Zuschuss Carroll'),
 ('IT-2011-5351596', 'Jonathan Doherty'),
 ('ES-2011-1012469', 'Maurice Satty'),
 ('ES-2011-3156142', 'Vivek Grady'),
 ('ES-2011-1708709', 'Brad Thomas'),
 ('ES-2011-5908162', 'Denise Leinenbach'),
 ('IT-2011-1900372', 'Mark Cousins'),
 ('IT-2011-2743644', 'Edward Becker'),
 ('ES-2011-3186072', 'Christina Anderson'),

In [129]:
# in order to combine the two tables to be able to extract the data from both we need to join them using join command,
#left join is better because we want orderid for customers ordr has both columns and brkdwn has only orderid, left join
#will extract everything from ORDR from left and orderid from brkdwn on the right

#FROM table1
#LEFT JOIN table2
#ON table1.column_name = table2.column_name;

sqlite3.connect("eshop.db.sqlite").execute('''SELECT order_id, 
                                           FROM ORDR LEFT JOIN brkdwn 
                                           ON ORDR.order_id=brkdwn.order_id''')

OperationalError: near "FROM": syntax error

#### 6. Select Number of Customers for Each Country

In [130]:
# Select Number of Customers for Each Country
sql_string = '''
    SELECT 
        country, 
        COUNT(DISTINCT customer_name) AS Count 
    FROM ORDR 
    GROUP BY country 
    ORDER BY Count DESC
'''

customers = sql.read_sql(sql_string, con = db_connection)
customers.head()

          country  Count
0          France    568
1         Germany    505
2  United Kingdom    473
3           Italy    351
4           Spain    306

#### 7.A Select discount, sales, quantity for Each Order from orders_break_down Table

In [132]:
#  Select discount, sales, quantity for Each Order from orders_break_down Table
sql_string = '''
    SELECT 
        discount
        , sales
        , quantity 
    FROM brkdwn
'''

customers = sql.read_sql(sql_string, con = db_connection)
customers.head()

   discount  sales  quantity
0       0.5   45.0         3
1       0.0  854.0         7
2       0.0  140.0         3
3       0.5   27.0         2
4       0.5   17.0         2

#### 7.B Select discount, sales, quantity, total price for Each Order from orders_break_down Table

> Total Price = sales * quantity - discount

In [133]:
# Select discount, sales, quantity, total price for Each Order from orders_break_down Table
sql_string = '''
    SELECT 
        discount
        , sales
        , quantity
        , (sales * quantity - discount) AS total_price 
    FROM brkdwn
    ORDER BY total_price DESC
'''

customers = sql.read_sql(sql_string, con = db_connection)
customers.head()

   discount   sales  quantity  total_price
0       0.1  5729.0        14      80205.9
1       0.0  6517.0        12      78204.0
2       0.1  4748.0        14      66471.9
3       0.1  5726.0        10      57259.9
4       0.0  4141.0        13      53833.0

#### 7.C Select All Orders from orders_break_down Table Where Total Price Greater Than 100

In [135]:
# Select All Orders from orders_break_down Table Where Total Price Greater Than 100
sql_string = '''
    SELECT 
        *
        , (sales * quantity - discount) AS total_price
    FROM brkdwn
    WHERE sales * quantity - discount > 100
    ORDER BY total_price ASC

'''

customers = sql.read_sql(sql_string, con = db_connection)
customers.head()

,order_id,product_name,discount,sales,quantity,category,total_price
0,IT-2011-2668777,"Binney & Smith Canvas, Blue",0.5,51.0,2,Office Supplies,101.5
1,IT-2011-1165265,"Cardinal Binding Machine, Durable",0.5,51.0,2,Office Supplies,101.5
2,ES-2012-1763830,"Elite Scissors, High Speed",0.5,34.0,3,Office Supplies,101.5
3,IT-2012-4099397,"Sanford Canvas, Blue",0.5,51.0,2,Office Supplies,101.5
4,ES-2013-4250046,"Cardinal Binding Machine, Durable",0.5,51.0,2,Office Supplies,101.5

#### 8. Select All Customer And The Product They Have Bought

In [136]:
# Select All Customer And The Product They Have Bought
sql_string = '''
    SELECT 
        ORDR.order_id
        , ORDR.customer_name
        , brkdwn.product_name
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
''' 
customers = sql.read_sql(sql_string, con = db_connection)
customers.head()

          order_id      customer_name                           product_name
0  IT-2011-3647632       Eugene Moren            Enermax Note Cards, Premium
1  ES-2011-4869686  Dorothy Dickinson     Dania Corner Shelving, Traditional
2  ES-2011-4939443     Arthur Prichep  Binney & Smith Sketch Pad, Easy-Erase
3  IT-2011-2942451     Grant Thornton             Boston Markers, Easy-Erase
4  IT-2011-2942451     Grant Thornton            Eldon Folders, Single Width

#### 9.A Select Number of 'Furniture' Orders For Each Country

In [137]:
# Select Number of 'Furniture' Orders For Each Country
sql_string = '''
    SELECT 
        ORDR.country
        , COUNT(brkdwn.category) AS Count           
    FROM ORDR
    JOIN brkdwn
    ON ORDR.order_id = brkdwn.order_id
    WHERE brkdwn.category = 'Furniture'
    GROUP BY ORDR.country
'''

order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

   country  Count
0  Austria     40
1  Belgium     20
2  Denmark      9
3  Finland     16
4   France    299

#### 9.B Select Number of 'Furniture' Orders For The Country Denmark

In [138]:
# Select Number of 'Furniture' Orders For The Country Denmark
sql_string = '''
    SELECT 
        *       
    FROM ORDR
    JOIN brkdwn
    ON ORDR.order_id = brkdwn.order_id
    WHERE brkdwn.category = 'Furniture'
        AND ORDR.country = 'Denmark'
'''

order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

,order_id,order_date,customer_name,country,order_id,product_name,discount,sales,quantity,category
0,ES-2011-1586186,2011-06-16,Vivek Grady,Denmark,ES-2011-1586186,"Office Star Bag Chairs, Set of Two",0.5,87.0,3,Furniture
1,IT-2012-4084224,2012-02-15,Mick Brown,Denmark,IT-2012-4084224,"Rubbermaid Door Stop, Ergonomic",0.6,17.0,1,Furniture
2,IT-2013-4649004,2013-05-31,Bart Folk,Denmark,IT-2013-4649004,"Novimex Executive Leather Armchair, Red",0.5,920.0,4,Furniture
3,ES-2013-3422294,2013-09-07,Dave Brooks,Denmark,ES-2013-3422294,"Advantus Door Stop, Duo Pack",0.6,36.0,2,Furniture
4,ES-2014-3653593,2014-02-10,Ivan Liston,Denmark,ES-2014-3653593,"Deflect-O Clock, Black",0.6,161.0,8,Furniture

#### 10. Select Total Sales With Discount and Without Discount for Each Country

In [140]:
# Select Total Sales With Discount and Without Discount for Each Country
sql_string = '''
    SELECT
        ORDR.country
        , SUM(CASE WHEN discount == 0 THEN sales ELSE 0 END) AS discount_sales
        , SUM(CASE WHEN discount > 0 THEN sales ELSE 0 END) AS non_discount_sales       
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
    GROUP BY ORDR.country
'''

order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

   country  discount_sales  non_discount_sales
0  Austria         79382.0                 0.0
1  Belgium         42320.0                 0.0
2  Denmark             0.0              7763.0
3  Finland         20702.0                 0.0
4   France        129791.0            479892.0

#### 11.A Select Total Quantity, Total Sales for Each Country

In [145]:
# Select Total Quantity, Total Sales for Each Country
sql_string = '''
    SELECT
        ORDR.country
        , SUM(sales) AS total_sales
        , SUM(quantity) AS total_quantity       
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
    GROUP BY ORDR.country
'''

order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

   country  total_sales  total_quantity
0  Austria      79382.0             973
1  Belgium      42320.0             532
2  Denmark       7763.0             204
3  Finland      20702.0             201
4   France     609683.0            7329

#### 11.B Select Top 3 Country Based on Sales

In [158]:
# Select Top 3 Country Based on Sales
sql_string = '''
    SELECT
        ORDR.country
        , SUM(sales) AS total_sales
        , SUM(quantity) AS total_quantity       
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
    GROUP BY ORDR.country
     ORDER BY total_sales DESC LIMIT 3'''
order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

          country  total_sales  total_quantity
0          France     609683.0            7329
1         Germany     488681.0            6179
2  United Kingdom     420497.0            4917

In [159]:
order_list.sort_values(by='total_sales', ascending=False).head(3) #another way of executing the above

          country  total_sales  total_quantity
0          France     609683.0            7329
1         Germany     488681.0            6179
2  United Kingdom     420497.0            4917

#### 11.C Select Bottom 3 Country Based On Quantities

In [148]:
# Select Bottom 3 Country Based On Quantities
sql_string = '''
    SELECT
        ORDR.country
        , SUM(sales) AS total_sales
        , SUM(quantity) AS total_quantity       
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
    GROUP BY ORDR.country
     ORDER BY total_quantity DESC LIMIT 3'''
order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

          country  total_sales  total_quantity
0          France     609683.0            7329
1         Germany     488681.0            6179
2  United Kingdom     420497.0            4917

In [149]:
order_list.sort_values(by='total_sales', ascending=False).head(3) #another way oif executing the above

          country  total_sales  total_quantity
0          France     609683.0            7329
1         Germany     488681.0            6179
2  United Kingdom     420497.0            4917

#### 12. Select Average Sales By Categroy For The Country 'France'

In [167]:
sql_string = '''
    SELECT
        ORDR.country
        , brkdwn.category
        , AVG(sales) AS avg_sales       
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
    WHERE ORDR.country = 'France'
    GROUP BY ORDR.country, brkdwn.category
    ORDER BY avg_sales DESC
'''

order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head(100)

  country         category   avg_sales
0  France       Technology  595.145078
1  France        Furniture  582.314381
2  France  Office Supplies  167.217709

#### 13. Select Country, Category and Total Sales Where Average Total Sales is The Highest

In [168]:
# Select Country, Category and Total Sales Where Average Total Sales is The Highest
sql_string = '''
    SELECT
        ORDR.country
        , brkdwn.category
        , AVG(sales) AS total_sales       
    FROM ORDR
    JOIN brkdwn ON ORDR.order_id = brkdwn.order_id
    GROUP BY ORDR.country, brkdwn.category
    ORDER BY total_sales DESC LIMIT 1
'''

order_list = sql.read_sql(sql_string, con = db_connection)

order_list.head()

       country    category  total_sales
0  Switzerland  Technology   902.846154

### JOINS

Below is a link to a handy reference for SQL joins. In this chart joins are represented in terms of sets and venn diagrams. 
https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins

Alternatively, remember the merge functionality of pandas.
https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

### ADDITIONAL RESOURCES

- [sqlite3 home](http://www.sqlite.org)  
- [sqlite3 Python documentation](https://docs.python.org/3/library/sqlite3.html)
- [SQLite Python tutorial](http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html)  
- [SQL zoo](http://www.sqlzoo.net)  Great for learning syntax





> 
> 
>
>
>
>
>

> 


> 



>

** 2019 Data Science Institute of Australia**